# Import the libraries

In [2]:
import pandas as pd
import numpy as np

# Communes

In [2]:
# Get the data
df_com_2020=pd.read_csv('/Users/Jeff/Downloads/communes2020 3.csv')

In [3]:
df_com_2020.isna().sum()

typecom          0
com              0
reg           2888
dep           2888
arr           2905
tncc             0
ncc              0
nccenr           0
libelle          0
can           3033
comparent    34968
dtype: int64

In [4]:
# Only keep the column we are interested in (Code and Name)
com_20=df_com_2020[['com','reg','ncc']]

In [5]:
# Rename the column to have the same format of the main dataframes
com_20.columns=['CODE','REG','NOM']

In [6]:
# Drop duplicates from the column CODE
comm_20 = com_20.drop_duplicates(subset='CODE')

As we don't have enough information using the 2020 database, we will also import 2019 commune database and concatenate the dataframes

In [7]:
# Get the data
df_com_2019=pd.read_csv('/Users/Jeff/Downloads/communes-01012019.csv')

In [8]:
# Only keep the column we are interested in (Code and Name)
com_19=df_com_2019[['com','reg','ncc']]

In [9]:
# Rename the column to have the same format of the main dataframes
com_19.columns=['CODE','REG','NOM']

In [10]:
# Drop duplicates from the column CODE
comm_19 = com_19.drop_duplicates(subset='CODE')

Now we need to concatenate 2020 and 2019 dataframes

In [11]:
# Create a variable that will contain the dataframes we need to concatenate
frames=[comm_19, comm_20]

In [12]:
# Concatenate the dataframes
com=pd.concat(frames)

In [13]:
# Drop duplicates from the column CODE
comm = com.drop_duplicates(subset='CODE')

In [14]:
comm.REG.fillna(0, inplace=True)

/usr/local/Cellar/jupyterlab/2.2.0/libexec/lib/python3.8/site-packages/pandas/core/series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [15]:
comm.REG=comm.REG.astype(int)

/usr/local/Cellar/jupyterlab/2.2.0/libexec/lib/python3.8/site-packages/pandas/core/generic.py:5159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [16]:
comm.REG=comm.REG.apply(lambda x: str(x))

In [17]:
comm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37255 entries, 0 to 20765
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CODE    37255 non-null  object
 1   REG     37255 non-null  object
 2   NOM     37255 non-null  object
dtypes: object(3)
memory usage: 1.1+ MB

In [18]:
# Export the dataframe into csv
comm.to_csv('df_com.csv', sep='/', index=False)

# Departement

In [19]:
# Get the data
df_dep=pd.read_csv('/Users/Jeff/Downloads/departement.csv')

In [20]:
# See df head
df_dep.head()

,1,01,Ain,AIN,ain,A500
0,2,02,Aisne,AISNE,aisne,A250
1,3,03,Allier,ALLIER,allier,A460
2,5,05,Hautes-Alpes,HAUTES-ALPES,hautes-alpes,H32412
3,4,04,Alpes-de-Haute-Provence,ALPES-DE-HAUTE-PROVENCE,alpes-de-haute-provence,A412316152
4,6,06,Alpes-Maritimes,ALPES-MARITIMES,alpes-maritimes,A41256352

In [21]:
# Only keep the column we are interested in (Code and Name)
dep=df_dep[['01','AIN']]

As we can see in the df head, the column corresponds to the first row of the dataframe. We will add the column in the row and rename the columns

In [22]:
# Create a variable that contain the row to append
to_append=pd.DataFrame([['01', 'AIN']], columns=['01','AIN'])

In [23]:
# Append to row the original df
dep=dep.append(to_append)

In [24]:
# Rename the column
dep.columns=['dep_code','dep_name']

In [25]:
# See the df head
dep.dep_code.unique()

array(['02', '03', '05', '04', '06', '07', '08', '09', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '2a', '2b', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55',
       '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66',
       '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77',
       '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88',
       '89', '90', '91', '92', '93', '94', '95', '976', '971', '973',
       '972', '974', '01'], dtype=object)

As we can see, for CORSE the departement is in lower case, we will transform it in upper case

In [26]:
# Transform 2a into 2A and 2b into 2B
dep['dep_code']=np.where(dep['dep_code']=='2a', '2A', dep['dep_code'])
dep['dep_code']=np.where(dep['dep_code']=='2b', '2B', dep['dep_code'])

In [27]:
# See dep_code unique value
dep.dep_code.unique()

array(['02', '03', '05', '04', '06', '07', '08', '09', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '2A', '2B', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55',
       '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66',
       '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77',
       '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88',
       '89', '90', '91', '92', '93', '94', '95', '976', '971', '973',
       '972', '974', '01'], dtype=object)

In [28]:
# Export df into csv
dep.to_csv('df_dep.csv', sep='/', index=False)

# Regions

In [39]:
df_r=pd.read_csv('/Users/Jeff/Downloads/region2019.csv')

In [40]:
df_r.head()

   reg cheflieu  tncc         ncc      nccenr     libelle
0    1    97105     3  GUADELOUPE  Guadeloupe  Guadeloupe
1    2    97209     3  MARTINIQUE  Martinique  Martinique
2    3    97302     3      GUYANE      Guyane      Guyane
3    4    97411     0  LA REUNION  La Réunion  La Réunion
4    6    97608     0     MAYOTTE     Mayotte     Mayotte

In [41]:
df_region=df_r[['reg','ncc']]

In [42]:
df_region.columns=['reg_code','reg_name']

In [43]:
df_region.value_counts()

reg_code  reg_name
94        CORSE                         1
93        PROVENCE ALPES COTE D AZUR    1
2         MARTINIQUE                    1
3         GUYANE                        1
4         LA REUNION                    1
6         MAYOTTE                       1
11        ILE DE FRANCE                 1
24        CENTRE VAL DE LOIRE           1
27        BOURGOGNE FRANCHE COMTE       1
28        NORMANDIE                     1
32        HAUTS DE FRANCE               1
44        GRAND EST                     1
52        PAYS DE LA LOIRE              1
53        BRETAGNE                      1
75        NOUVELLE AQUITAINE            1
76        OCCITANIE                     1
84        AUVERGNE RHONE ALPES          1
1         GUADELOUPE                    1
dtype: int64

In [45]:
df_region['reg_code']=df_region['reg_code'].apply(str)

<ipython-input-45-eb2bcc1c64b9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_region['reg_code']=df_region['reg_code'].apply(str)

In [46]:
df_region['reg_code'][(df_region.reg_code.str.len() < 2)]=df_region['reg_code'].apply(lambda x: '0'+str(x))

/usr/local/Cellar/jupyterlab/2.2.0/libexec/lib/python3.8/site-packages/pandas/core/series.py:1020: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)

In [47]:
df_region.value_counts()

reg_code  reg_name
94        CORSE                         1
93        PROVENCE ALPES COTE D AZUR    1
02        MARTINIQUE                    1
03        GUYANE                        1
04        LA REUNION                    1
06        MAYOTTE                       1
11        ILE DE FRANCE                 1
24        CENTRE VAL DE LOIRE           1
27        BOURGOGNE FRANCHE COMTE       1
28        NORMANDIE                     1
32        HAUTS DE FRANCE               1
44        GRAND EST                     1
52        PAYS DE LA LOIRE              1
53        BRETAGNE                      1
75        NOUVELLE AQUITAINE            1
76        OCCITANIE                     1
84        AUVERGNE RHONE ALPES          1
01        GUADELOUPE                    1
dtype: int64

In [48]:
# Export df into csv
df_region.to_csv('df_reg.csv', sep='/', index=False)

In [34]:
df_com_2020.head()

,typecom,com,reg,dep,arr,tncc,ncc,nccenr,libelle,can,comparent
0,COM,01001,84.0,01,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN

In [35]:
df_com_2020.reg.value_counts()

44.0    5121
76.0    4454
75.0    4314
84.0    4039
32.0    3789
27.0    3702
28.0    2652
24.0    1757
11.0    1288
52.0    1238
53.0    1208
93.0     962
94.0     360
2.0       34
1.0       32
4.0       24
3.0       22
6.0       17
Name: reg, dtype: int64

In [36]:
df1=pd.read_csv('/Users/Jeff/Downloads/departement2019.csv')

In [37]:
df1.head()

,dep,reg,cheflieu,tncc,ncc,nccenr,libelle
0,01,84,01053,5,AIN,Ain,Ain
1,02,32,02408,5,AISNE,Aisne,Aisne
2,03,84,03190,5,ALLIER,Allier,Allier
3,04,93,04070,4,ALPES DE HAUTE PROVENCE,Alpes-de-Haute-Provence,Alpes-de-Haute-Provence
4,05,93,05061,4,HAUTES ALPES,Hautes-Alpes,Hautes-Alpes

In [38]:
comm.REG.value_counts()

44    5121
76    4454
75    4314
84    4039
32    3789
27    3704
28    2651
0     2240
24    1758
11    1288
52    1238
53    1208
93     962
94     360
2       34
1       32
4       24
3       22
6       17
Name: REG, dtype: int64

# Population

In [56]:
df_pop=pd.read_excel('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Area/France_pop_reg.xlsx')

In [57]:
df_pop.head()

   year                 reg_name  reg_pop
0  2019     Auvergne-Rhône-Alpes  8032377
1  2019  Bourgogne-Franche-Comté  2783039
2  2019                 Bretagne  3340379
3  2019      Centre-Val-de-Loire  2559073
4  2019                    Corse   344679

In [58]:
df_pop['reg_name']=df_pop['reg_name'].str.replace('é','e')
df_pop['reg_name']=df_pop['reg_name'].str.replace('-',' ')
df_pop['reg_name']=df_pop['reg_name'].str.replace('ô','o')
df_pop['reg_name']=df_pop['reg_name'].str.replace("'"," ")

In [59]:
df_pop['reg_name']=df_pop['reg_name'].str.upper()

In [60]:
df_pop['reg_name'].unique()

array(['AUVERGNE RHONE ALPES', 'BOURGOGNE FRANCHE COMTE', 'BRETAGNE',
       'CENTRE VAL DE LOIRE', 'CORSE', 'GRAND EST', 'HAUTS DE FRANCE',
       'ÎLE DE FRANCE', 'NORMANDIE', 'NOUVELLE AQUITAINE', 'OCCITANIE',
       'PAYS DE LA LOIRE', 'PROVENCE ALPES COTE D AZUR', 'GUADELOUPE ',
       'MARTINIQUE ', 'GUYANE', 'LA REUNION', 'MAYOTTE'], dtype=object)

In [61]:
df_pop['reg_name']=df_pop['reg_name'].str.replace('Î','I')

In [62]:
df_pop['reg_name'].unique()

array(['AUVERGNE RHONE ALPES', 'BOURGOGNE FRANCHE COMTE', 'BRETAGNE',
       'CENTRE VAL DE LOIRE', 'CORSE', 'GRAND EST', 'HAUTS DE FRANCE',
       'ILE DE FRANCE', 'NORMANDIE', 'NOUVELLE AQUITAINE', 'OCCITANIE',
       'PAYS DE LA LOIRE', 'PROVENCE ALPES COTE D AZUR', 'GUADELOUPE ',
       'MARTINIQUE ', 'GUYANE', 'LA REUNION', 'MAYOTTE'], dtype=object)

In [63]:
df_pop['reg_name']=np.where(df_pop['reg_name']=='GUADELOUPE ', 'GUADELOUPE', df_pop['reg_name'])
df_pop['reg_name']=np.where(df_pop['reg_name']=='MARTINIQUE ', 'MARTINIQUE', df_pop['reg_name'])

In [64]:
df_pop['reg_name'].unique()

array(['AUVERGNE RHONE ALPES', 'BOURGOGNE FRANCHE COMTE', 'BRETAGNE',
       'CENTRE VAL DE LOIRE', 'CORSE', 'GRAND EST', 'HAUTS DE FRANCE',
       'ILE DE FRANCE', 'NORMANDIE', 'NOUVELLE AQUITAINE', 'OCCITANIE',
       'PAYS DE LA LOIRE', 'PROVENCE ALPES COTE D AZUR', 'GUADELOUPE',
       'MARTINIQUE', 'GUYANE', 'LA REUNION', 'MAYOTTE'], dtype=object)

In [65]:
df_pop.head()

   year                 reg_name  reg_pop
0  2019     AUVERGNE RHONE ALPES  8032377
1  2019  BOURGOGNE FRANCHE COMTE  2783039
2  2019                 BRETAGNE  3340379
3  2019      CENTRE VAL DE LOIRE  2559073
4  2019                    CORSE   344679

In [66]:
df_pop.to_csv('df_reg_pop.csv', sep='/', index=False)