# Import libraries

In [1]:
import pandas as pd
import numpy as np

# Get the data

We will first create dataframes for each year and then concatenate all years dataframes

We know from the presentation data file, that the data are very low before 2011, so we will extract only dataframes from year 2011

In [2]:
df_2011=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Electricty/Data_new/donnees_elec_2011.csv', encoding = "ISO-8859-1", sep=';')

In [3]:
df_2011.shape

(48774, 20)

In [4]:
df_2012=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Electricty/Data_new/donnees_elec_2012.csv', encoding = "ISO-8859-1", sep=';')

/usr/local/Cellar/jupyterlab/2.2.0/libexec/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
df_2012.shape

(50394, 20)

In [6]:
df_2013=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Electricty/Data_new/donnees_elec_2013.csv', encoding = "ISO-8859-1", sep=';')

In [7]:
df_2013.shape

(50877, 20)

In [8]:
df_2014=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Electricty/Data_new/donnees_elec_2014.csv', encoding = "ISO-8859-1", sep=';')

In [9]:
df_2014.shape

(50904, 20)

In [10]:
df_2015=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Electricty/Data_new/donnees_elec_2015.csv', encoding = "ISO-8859-1", sep=';')

In [11]:
df_2015.shape

(52516, 20)

In [12]:
df_2016=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Electricty/Data_new/donnees_elec_2016.csv', encoding = "ISO-8859-1", sep=';')

In [13]:
df_2016.shape

(52585, 20)

In [14]:
df_2017=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Electricty/Data_new/donnees_elec_2017.csv', encoding = "ISO-8859-1", sep=';')

In [15]:
df_2017.shape

(52273, 22)

In [16]:
frames=[df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017]

In [17]:
# Create the concatenate dataframe
df_electricity1=pd.concat(frames)

In [18]:
df_electricity1.shape

(358323, 22)

In [19]:
# Save the dataframe as a csv
df_electricity1.to_csv('df_electricity.csv', sep='/', index=False)

# Data cleaning

## Missing values

In [20]:
df_electricity1.head()

,OPERATEUR,ANNEE,FILIERE,TYPE,CODE,CONSOA,PDLA,INDQUALA,CONSOI,PDLI,...,PDLT,INDQUALT,CONSOR,PDLR,INDQUALR,CONSONA,PDLNA,INDQUALNA,THERMOR,PARTR
0,Enedis,2011,E,InterCom,0,"0,00",0,"0,000000","0,00",0,...,0,"0,000000","1682,00",176,"0,372100","0,00",0,"0,000000",NaN,NaN
1,Enedis,2011,E,Region,11,"0,00",0,"0,000000","0,00",0,...,0,"0,000000","2964,78",285,"0,356390","0,00",0,"0,000000",NaN,NaN
2,Enedis,2011,E,InterCom,200023414,"0,00",0,"0,000000","0,00",0,...,0,"0,000000","333,32",32,"0,506710","0,00",0,"0,000000",NaN,NaN
3,Enedis,2011,E,Region,21,"0,00",0,"0,000000","0,00",0,...,0,"0,000000","278,42",51,"0,331370","0,00",0,"0,000000",NaN,NaN
4,Enedis,2011,E,Region,22,"0,00",0,"0,000000","0,00",0,...,0,"0,000000","164,48",24,"0,671570","0,00",0,"0,000000",NaN,NaN

In [21]:
df_electricity1.shape

(358323, 22)

In [22]:
df_electricity1.isna().sum()

OPERATEUR         0
ANNEE             0
FILIERE           0
TYPE              0
CODE              0
CONSOA            0
PDLA              0
INDQUALA          0
CONSOI            0
PDLI              0
INDQUALI          0
CONSOT            0
PDLT              0
INDQUALT          0
CONSOR            0
PDLR              0
INDQUALR          0
CONSONA           0
PDLNA             0
INDQUALNA         0
THERMOR      306058
PARTR        306058
dtype: int64

As the major part of THERMOR and PARTR columns are missing values, we decide to drop them.

In [23]:
df_electricity1.drop(['THERMOR','PARTR'], axis=1, inplace=True)

In [24]:
df_electricity1.isna().sum()

OPERATEUR    0
ANNEE        0
FILIERE      0
TYPE         0
CODE         0
CONSOA       0
PDLA         0
INDQUALA     0
CONSOI       0
PDLI         0
INDQUALI     0
CONSOT       0
PDLT         0
INDQUALT     0
CONSOR       0
PDLR         0
INDQUALR     0
CONSONA      0
PDLNA        0
INDQUALNA    0
dtype: int64

No more missing value

In [25]:
# Reset the index because index wasn't unique
df_electricity1.reset_index(inplace=True, drop=True)

## Data level

In [26]:
df_electricity1['TYPE'].value_counts()

IRIS        346862
Commune      10972
InterCom       351
Region         138
Name: TYPE, dtype: int64

As we can see, there are several type of area. In order to do our analysis we will only keep the value by commune

In [27]:
df_electricity=df_electricity1.drop(df_electricity1[ (df_electricity1['TYPE'] != 'Commune') ].index)

In [28]:
df_electricity['TYPE'].value_counts()

Commune    10972
Name: TYPE, dtype: int64

We will also create a new dataframe containing the value by region

In [29]:
df_elec_region=df_electricity1.loc[df_electricity1['TYPE']=='Region']

In [30]:
df_elec_region.TYPE.value_counts()

Region    138
Name: TYPE, dtype: int64

## Data types

In [31]:
df_electricity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10972 entries, 2476 to 358322
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OPERATEUR  10972 non-null  object
 1   ANNEE      10972 non-null  int64
 2   FILIERE    10972 non-null  object
 3   TYPE       10972 non-null  object
 4   CODE       10972 non-null  object
 5   CONSOA     10972 non-null  object
 6   PDLA       10972 non-null  int64
 7   INDQUALA   10972 non-null  object
 8   CONSOI     10972 non-null  object
 9   PDLI       10972 non-null  int64
 10  INDQUALI   10972 non-null  object
 11  CONSOT     10972 non-null  object
 12  PDLT       10972 non-null  int64
 13  INDQUALT   10972 non-null  object
 14  CONSOR     10972 non-null  object
 15  PDLR       10972 non-null  int64
 16  INDQUALR   10972 non-null  object
 17  CONSONA    10972 non-null  object
 18  PDLNA      10972 non-null  int64
 19  INDQUALNA  10972 non-null  object
dtypes: int64(6), object(14)
memory usage: 1.8+ MB

As we can see, some of the columns have a wrong data type, we will transform the data type of those columns

In [32]:
df_electricity[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']]=df_electricity[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']].apply(lambda x: x.str.replace(',','.'))

In [33]:
df_electricity[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']] = df_electricity[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']].apply(pd.to_numeric)

In [34]:
df_electricity['CODE'].unique()

array([6103, 9015, 9076, ..., '97615', '97616', '97617'], dtype=object)

As we can see, some of the values in the column are string and others are number, we will convert all the values as string

In [35]:
df_electricity['CODE']=df_electricity['CODE'].apply(str)

In [36]:
df_electricity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10972 entries, 2476 to 358322
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OPERATEUR  10972 non-null  object
 1   ANNEE      10972 non-null  int64
 2   FILIERE    10972 non-null  object
 3   TYPE       10972 non-null  object
 4   CODE       10972 non-null  object
 5   CONSOA     10972 non-null  float64
 6   PDLA       10972 non-null  int64
 7   INDQUALA   10972 non-null  float64
 8   CONSOI     10972 non-null  float64
 9   PDLI       10972 non-null  int64
 10  INDQUALI   10972 non-null  float64
 11  CONSOT     10972 non-null  float64
 12  PDLT       10972 non-null  int64
 13  INDQUALT   10972 non-null  float64
 14  CONSOR     10972 non-null  float64
 15  PDLR       10972 non-null  int64
 16  INDQUALR   10972 non-null  float64
 17  CONSONA    10972 non-null  float64
 18  PDLNA      10972 non-null  int64
 19  INDQUALNA  10972 non-null  float64
dtypes: float64(10), int64(6), object(4)
memory usage: 1.8+ MB

## Commune name, departement code and name

### Add commune name

Now that we only have information per commune, we will add the name of the commune

In [37]:
# Import the dataframe with the name corresponding to the code for each commune
df_com=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Area/df_com.csv', sep='/')

In [38]:
df_com.head()

    CODE  REG                    NOM
0  01001   84  ABERGEMENT CLEMENCIAT
1  01002   84    ABERGEMENT DE VAREY
2  01004   84      AMBERIEU EN BUGEY
3  01005   84    AMBERIEUX EN DOMBES
4  01006   84                AMBLEON

In [39]:
df_elec_merge = pd.merge(df_electricity, df_com, how='left', on=['CODE'])

In [40]:
df_elec_merge.head()

,OPERATEUR,ANNEE,FILIERE,TYPE,CODE,CONSOA,PDLA,INDQUALA,CONSOI,PDLI,...,PDLT,INDQUALT,CONSOR,PDLR,INDQUALR,CONSONA,PDLNA,INDQUALNA,REG,NOM
0,Régie délectricité de Roquebillière,2011,E,Commune,6103,20.0,5,1.0,1170.0,8,...,102,1.0,4629.00,1134,1.0,770.00,47,1.0,NaN,NaN
1,Régie municipale délectricité dArignac,2011,E,Commune,9015,0.0,0,0.0,156.0,1,...,27,0.5,1980.00,413,0.5,178.00,19,0.5,NaN,NaN
2,Régie municipale délectricité de Saint-Quirc,2011,E,Commune,9076,13.0,2,0.5,0.0,0,...,10,0.5,507.74,107,0.5,7.97,1,0.5,NaN,NaN
3,Régie municipale délectricité de Dalou,2011,E,Commune,9104,0.0,0,0.0,0.0,0,...,5,1.0,1744.00,356,1.0,141.00,13,1.0,NaN,NaN
4,Régie municipale délectricité de lHospitalet...,2011,E,Commune,9139,0.0,0,0.0,0.0,0,...,35,1.0,276.00,88,1.0,239.00,27,1.0,NaN,NaN

In [41]:
df_elec_merge.isna().sum()

OPERATEUR     0
ANNEE         0
FILIERE       0
TYPE          0
CODE          0
CONSOA        0
PDLA          0
INDQUALA      0
CONSOI        0
PDLI          0
INDQUALI      0
CONSOT        0
PDLT          0
INDQUALT      0
CONSOR        0
PDLR          0
INDQUALR      0
CONSONA       0
PDLNA         0
INDQUALNA     0
REG          61
NOM          61
dtype: int64

As we don't know the name for 62 communes and region, we will fill the values with 'NC' and 0

In [42]:
# Fill null value with 'NC' and 0
df_elec_merge['NOM'].fillna('NC', inplace=True)
df_elec_merge['REG'].fillna(0, inplace=True)

### Add departement code

In [43]:
df_elec_merge['dep_code']=df_elec_merge['CODE'].apply(lambda x: x[:2])

As there are some dep_code with a 3 numbers format, we will replace those values with their specific format

In [44]:
df_elec_merge['dep_code'][df_elec_merge['CODE'].str.startswith('97')]=df_elec_merge['CODE'].apply(lambda x: x[:3])

<ipython-input-44-68ef6fa75e35>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elec_merge['dep_code'][df_elec_merge['CODE'].str.startswith('97')]=df_elec_merge['CODE'].apply(lambda x: x[:3])

### Add departement name

In [45]:
# Import the dataframe with the name corresponding to the code for each departement
df_dep=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Area/df_dep.csv', sep='/')

In [46]:
df_elec_merge1 = pd.merge(df_elec_merge, df_dep, how='left', on=['dep_code'])

In [47]:
df_elec_merge1.isna().sum()

OPERATEUR    0
ANNEE        0
FILIERE      0
TYPE         0
CODE         0
CONSOA       0
PDLA         0
INDQUALA     0
CONSOI       0
PDLI         0
INDQUALI     0
CONSOT       0
PDLT         0
INDQUALT     0
CONSOR       0
PDLR         0
INDQUALR     0
CONSONA      0
PDLNA        0
INDQUALNA    0
REG          0
NOM          0
dep_code     0
dep_name     0
dtype: int64

## Columns manipulation

In order to manipulate our dataframe later, we will rename the columns

In [48]:
df_elec_merge1.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'TYPE', 'CODE', 'CONSOA', 'PDLA',
       'INDQUALA', 'CONSOI', 'PDLI', 'INDQUALI', 'CONSOT', 'PDLT', 'INDQUALT',
       'CONSOR', 'PDLR', 'INDQUALR', 'CONSONA', 'PDLNA', 'INDQUALNA', 'REG',
       'NOM', 'dep_code', 'dep_name'],
      dtype='object')

In [49]:
df_elec_merge1.columns=['operator','year','energy','area','com_code','consoa','pdla','indquala','consoi','pdli','indquali','consot','pdlt','indqualt','consor','pdlr','indqualr','consona','pdlna','indqualna','reg_code','com_name','dep_code','dep_name']

In [50]:
df_elec_merge1.head()

,operator,year,energy,area,com_code,consoa,pdla,indquala,consoi,pdli,...,consor,pdlr,indqualr,consona,pdlna,indqualna,reg_code,com_name,dep_code,dep_name
0,Régie délectricité de Roquebillière,2011,E,Commune,6103,20.0,5,1.0,1170.0,8,...,4629.00,1134,1.0,770.00,47,1.0,0.0,NC,61,ORNE
1,Régie municipale délectricité dArignac,2011,E,Commune,9015,0.0,0,0.0,156.0,1,...,1980.00,413,0.5,178.00,19,0.5,0.0,NC,90,TERRITOIRE DE BELFORT
2,Régie municipale délectricité de Saint-Quirc,2011,E,Commune,9076,13.0,2,0.5,0.0,0,...,507.74,107,0.5,7.97,1,0.5,0.0,NC,90,TERRITOIRE DE BELFORT
3,Régie municipale délectricité de Dalou,2011,E,Commune,9104,0.0,0,0.0,0.0,0,...,1744.00,356,1.0,141.00,13,1.0,0.0,NC,91,ESSONNE
4,Régie municipale délectricité de lHospitalet...,2011,E,Commune,9139,0.0,0,0.0,0.0,0,...,276.00,88,1.0,239.00,27,1.0,0.0,NC,91,ESSONNE

As the column area only correponds to commune value, we will drop the column

In [51]:
# Drop area column
df_elec_merge1.drop('area', axis=1, inplace=True)

In [52]:
df_elec_merge1.columns

Index(['operator', 'year', 'energy', 'com_code', 'consoa', 'pdla', 'indquala',
       'consoi', 'pdli', 'indquali', 'consot', 'pdlt', 'indqualt', 'consor',
       'pdlr', 'indqualr', 'consona', 'pdlna', 'indqualna', 'reg_code',
       'com_name', 'dep_code', 'dep_name'],
      dtype='object')

In [53]:
# Reorder the column
df_elec_clean=df_elec_merge1[['energy','year','reg_code', 'dep_code','dep_name','com_code','com_name','operator','consoa', 'pdla', 'indquala',
       'consoi', 'pdli', 'indquali', 'consot', 'pdlt', 'indqualt', 'consor',
       'pdlr', 'indqualr', 'consona', 'pdlna', 'indqualna']]

In [54]:
df_elec_clean.head()

,energy,year,reg_code,dep_code,dep_name,com_code,com_name,operator,consoa,pdla,...,indquali,consot,pdlt,indqualt,consor,pdlr,indqualr,consona,pdlna,indqualna
0,E,2011,0.0,61,ORNE,6103,NC,Régie délectricité de Roquebillière,20.0,5,...,1.0,1316.00,102,1.0,4629.00,1134,1.0,770.00,47,1.0
1,E,2011,0.0,90,TERRITOIRE DE BELFORT,9015,NC,Régie municipale délectricité dArignac,0.0,0,...,1.0,304.00,27,0.5,1980.00,413,0.5,178.00,19,0.5
2,E,2011,0.0,90,TERRITOIRE DE BELFORT,9076,NC,Régie municipale délectricité de Saint-Quirc,13.0,2,...,0.0,24.44,10,0.5,507.74,107,0.5,7.97,1,0.5
3,E,2011,0.0,91,ESSONNE,9104,NC,Régie municipale délectricité de Dalou,0.0,0,...,0.0,7.00,5,1.0,1744.00,356,1.0,141.00,13,1.0
4,E,2011,0.0,91,ESSONNE,9139,NC,Régie municipale délectricité de lHospitalet...,0.0,0,...,0.0,419.00,35,1.0,276.00,88,1.0,239.00,27,1.0

## CONSOR and PDLR

From the data presentation file, we know that some value of CONSOR and PDLR are -99 for very small area. We will replace the value -99 by 0

In [55]:
df_elec_clean.loc[df_elec_clean['consor']==-99]

,energy,year,reg_code,dep_code,dep_name,com_code,com_name,operator,consoa,pdla,...,indquali,consot,pdlt,indqualt,consor,pdlr,indqualr,consona,pdlna,indqualna
660,E,2012,44.0,67,BAS-RHIN,67198,HINSBOURG,Electricité de Strasbourg,0.0,0,...,1.0,30.99,2,1.0,-99.0,-99,0.998,0.0,0,1.0
672,E,2012,44.0,67,BAS-RHIN,67273,LOHR,Electricité de Strasbourg,0.0,0,...,1.0,0.00,0,1.0,-99.0,-99,0.998,0.0,0,1.0
1326,E,2013,44.0,57,MOSELLE,57163,DABO,Electricité de Strasbourg,0.0,0,...,1.0,0.00,0,1.0,-99.0,-99,0.998,0.0,0,1.0
1492,E,2013,44.0,67,BAS-RHIN,67225,ISSENHAUSEN,Electricité de Strasbourg,0.0,0,...,1.0,0.00,0,1.0,-99.0,-99,0.998,0.0,0,1.0
1530,E,2013,44.0,67,BAS-RHIN,67273,LOHR,Electricité de Strasbourg,0.0,0,...,1.0,0.00,0,1.0,-99.0,-99,0.998,0.0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10571,E,2017,11.0,78,YVELINES,78048,BAZAINVILLE,SICAE dEure-et-Loir et des Yvelines,0.0,0,...,1.0,0.00,0,1.0,-99.0,-99,1.000,0.0,0,1.0
10579,E,2017,11.0,78,YVELINES,78285,GRESSEY,SICAE dEure-et-Loir et des Yvelines,0.0,0,...,1.0,0.00,0,1.0,-99.0,-99,1.000,0.0,0,1.0
10599,E,2017,32.0,80,SOMME,80027,ARMANCOURT,SICAE de la Somme et du Cambraisis,0.0,0,...,1.0,0.00,0,1.0,-99.0,-99,0.610,0.0,0,0.0
10658,E,2017,32.0,80,SOMME,80284,ESMERY HALLON,SER des cantons de Lassigny et Limitrophes,27.0,1,...,0.0,0.00,0,0.0,-99.0,-99,1.000,0.0,0,0.0
10698,E,2017,32.0,80,SOMME,80433,HERLY,SICAE de la Somme et du Cambraisis,0.0,0,...,1.0,0.00,0,1.0,-99.0,-99,0.680,0.0,0,0.0

In [56]:
df_elec_clean['consor']=np.where(df_elec_clean['consor']==-99, 0, df_elec_clean['consor'])

In [57]:
df_elec_clean['pdlr']=np.where(df_elec_clean['pdlr']==-99, 0, df_elec_clean['consor'])

## Export clean data

In [58]:
df_elec_clean.to_csv('df_elec_clean.csv', sep='/', index=False)

# Dataframe manipulation

We will first create dataframes to identify the total year consumptions per sector, year (without operator information)

## Energy consumption per year and sector dataframe

In [59]:
# Create a copy of the original df
df_econso=df_elec_clean.copy()

In [60]:
df_econso.columns

Index(['energy', 'year', 'reg_code', 'dep_code', 'dep_name', 'com_code',
       'com_name', 'operator', 'consoa', 'pdla', 'indquala', 'consoi', 'pdli',
       'indquali', 'consot', 'pdlt', 'indqualt', 'consor', 'pdlr', 'indqualr',
       'consona', 'pdlna', 'indqualna'],
      dtype='object')

As we don't care about the operator information in this dataframe, we will drop this column

In [61]:
df_econso.drop('operator', axis=1, inplace=True)

As the colums starting with INDQUAL corresponds to a percentage for each operator and we don't want to have information about the operator, we will drop those columns

In [62]:
df_econso.drop(['indquala','indquali','indqualt','indqualr','indqualna'], axis=1, inplace=True)

### Commune level

We group by year, per commune and aggregate by the sum of consumption

In [63]:
df_econso_com=df_econso.groupby(['energy','year','dep_code','dep_name','com_code','com_name']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [64]:
df_econso_com.head()

,energy,year,dep_code,dep_name,com_code,com_name,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,E,2011,11,AUDE,11304,QUILLAN,0.0,0,3796.65,13,1895.12,25,12195.27,12195.27,0.00,0
1,E,2011,31,HAUTE-GARONNE,31135,CAZERES,0.0,0,0.00,0,0.00,0,13497.00,13497.00,7925.00,417
2,E,2011,31,HAUTE-GARONNE,31324,MARTRES TOLOSANE,0.0,0,0.00,0,0.00,0,6140.00,6140.00,3755.00,210
3,E,2011,31,HAUTE-GARONNE,31344,MIRAMONT DE COMMINGES,0.0,0,0.00,0,0.00,0,2490.00,2490.00,0.00,0
4,E,2011,33,GIRONDE,33352,REOLE,17.3,2,1652.17,27,2095.92,112,4735.83,4735.83,23.05,5

We add the total consumption for each row

In [65]:
df_econso_com['total']=df_econso_com.consoa + df_econso_com.consoi + df_econso_com.consot + df_econso_com.consona + df_econso_com.consor

In [66]:
# Export the df in csv
df_econso_com.to_csv('df_econso_com.csv', sep='/', index=False)

### Department level

We group by year, per department and aggregate by the sum of consumption

In [67]:
df_econso_dep=df_econso.groupby(['energy','year','dep_code','dep_name']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [68]:
df_econso_dep.head()

,energy,year,dep_code,dep_name,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,E,2011,11,AUDE,0.00,0,3796.65,13,1895.12,25,12195.27,12195.27,0.00,0
1,E,2011,31,HAUTE-GARONNE,0.00,0,0.00,0,0.00,0,22127.00,22127.00,11680.00,627
2,E,2011,33,GIRONDE,17.30,2,1652.17,27,2095.92,112,4735.83,4735.83,23.05,5
3,E,2011,34,HÉRAULT,1414.68,22,18784.01,72,66505.25,420,271952.67,271952.67,1393.39,83
4,E,2011,38,ISÈRE,0.00,0,27698.00,20,47855.00,1950,85835.00,85835.00,0.00,0

We add the total consumption for each row

In [69]:
df_econso_dep['total']=df_econso_dep.consoa + df_econso_dep.consoi + df_econso_dep.consot + df_econso_dep.consona + df_econso_dep.consor

In [70]:
# Export the df in csv
df_econso_dep.to_csv('df_econso_dep.csv', sep='/', index=False)

## Consumption France level

According to the information data file, the consor is not always the good one in order to respect confidentiality but we have the total per region. In order to do some further analysis we will create a dataframe containing the information per region

In [71]:
df_econso_france=df_econso.copy()

In [72]:
df_econso_fr=df_econso_france.groupby(['energy','year']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [73]:
df_econso_fr.head()

,energy,year,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,E,2011,100141.54,395,361673.738,1091,430536.541,12663,4.924784e+06,4.924784e+06,3.373485e+05,20538
1,E,2012,99825.13,361,1446701.607,1548,692852.100,14330,5.720067e+06,5.720067e+06,8.390828e+06,22699
2,E,2013,140757.61,715,3688979.834,2942,1426220.961,20077,8.025404e+06,8.025404e+06,8.503058e+06,22957
3,E,2014,136034.24,738,4303626.720,2726,1314027.090,18679,1.065145e+07,1.065145e+07,8.603519e+06,31018
4,E,2015,101815.06,2078,5847662.216,22594,2882416.540,52512,9.026394e+06,9.026394e+06,1.002193e+07,1372329

As the information are not complete in consor and pdlr columns, we will set the value as 0

In [74]:
df_econso_fr.consor=0
df_econso_fr.pdlr=0

In order to obtain the total amount for consor and pdlr columns, we will concatenate the df with the total by region

In [75]:
df_elec_region[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']]=df_elec_region[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']].apply(lambda x: x.str.replace(',','.'))

/usr/local/Cellar/jupyterlab/2.2.0/libexec/lib/python3.8/site-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [76]:
df_elec_region[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']]=df_elec_region[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']].apply(pd.to_numeric)

In [77]:
df_elec_fr_toconcat=df_elec_region[['FILIERE','ANNEE','CONSOA','PDLA','CONSOI','PDLI','CONSOT','PDLT','CONSOR','PDLR','CONSONA','PDLNA']]

In [78]:
df_elec_fr_toconcat.columns=df_econso_fr.columns

In [79]:
frames1=[df_elec_fr_toconcat, df_econso_fr]

In [80]:
df_e_fr=pd.concat(frames1)

In [81]:
df_e_fr.isna().sum()

energy     0
year       0
consoa     0
pdla       0
consoi     0
pdli       0
consot     0
pdlt       0
consor     0
pdlr       0
consona    0
pdlna      0
dtype: int64

In [82]:
df_e_fr=df_e_fr.groupby(['energy','year']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [83]:
df_e_fr

,energy,year,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,E,2011,100141.54,395,361673.738,1091,430536.541,12663,7077.38,820,3.373485e+05,20538
1,E,2012,99825.13,361,1446701.607,1548,692852.100,14330,8243.65,988,8.390828e+06,22699
2,E,2013,140757.61,715,3688979.834,2942,1426220.961,20077,9754.31,1199,8.503058e+06,22957
3,E,2014,136034.24,738,4303626.720,2726,1314027.090,18679,10746.97,1442,8.603519e+06,31018
4,E,2015,101815.06,2078,5847662.216,22594,2882416.540,52512,14759.46,2064,1.002193e+07,1372329
5,E,2016,159896.05,2259,6118307.210,18804,2629273.548,53745,35446.86,5472,1.036612e+07,1140805
6,E,2017,161022.92,4491,2660850.770,14667,3900111.700,126073,17344.15,3301,1.759517e+06,73703

We add a total column

In [84]:
df_e_fr['total']=df_e_fr['consoa'] + df_e_fr['consoi'] + df_e_fr['consot'] + df_e_fr['consor'] + df_e_fr['consona']

In [85]:
df_e_fr.to_csv('df_e_tot.csv', sep='/', index=False)

## Region level

In [86]:
df_econso_region=df_econso.copy()

In [87]:
df_econso_reg=df_econso_region.groupby(['energy','year','reg_code']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [88]:
df_econso_reg.head()

,energy,year,reg_code,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,E,2011,0.0,1174.57,167,25727.59,50,18004.43,1130,55254.56,55254.56,4974.71,542
1,E,2011,28.0,0.00,0,6753.00,13,0.00,0,48153.00,48153.00,6975.00,59
2,E,2011,32.0,212.00,10,44186.00,20,24462.00,101,48179.00,48179.00,0.00,5907
3,E,2011,44.0,634.99,43,123179.09,510,176667.69,6619,178730.91,178730.91,264575.50,12775
4,E,2011,75.0,189.30,25,7444.17,32,16745.46,865,23285.10,23285.10,1320.01,125

In [89]:
df_econso_reg.consor=0
df_econso_reg.pdlr=0

In [90]:
df_econso_reg=df_econso_reg.groupby(['energy','year','reg_code']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [91]:
df_econso_reg.head()

,energy,year,reg_code,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,E,2011,0.0,1174.57,167,25727.59,50,18004.43,1130,0,0,4974.71,542
1,E,2011,28.0,0.00,0,6753.00,13,0.00,0,0,0,6975.00,59
2,E,2011,32.0,212.00,10,44186.00,20,24462.00,101,0,0,0.00,5907
3,E,2011,44.0,634.99,43,123179.09,510,176667.69,6619,0,0,264575.50,12775
4,E,2011,75.0,189.30,25,7444.17,32,16745.46,865,0,0,1320.01,125

In [92]:
df_econso_reg.reg_code.value_counts()

0.0     7
28.0    7
32.0    7
44.0    7
75.0    7
76.0    7
84.0    7
1.0     6
2.0     6
3.0     6
4.0     6
93.0    6
94.0    6
27.0    3
6.0     3
11.0    3
24.0    3
52.0    2
Name: reg_code, dtype: int64

We will replace the 'NC' value by 0

In [93]:
df_econso_reg['reg_code']=np.where(df_econso_reg['reg_code']=='NC', 0, df_econso_reg['reg_code'])

/usr/local/Cellar/jupyterlab/2.2.0/libexec/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)

In [94]:
df_econso_reg['reg_code']=df_econso_reg['reg_code'].astype(int)

In [95]:
df_econso_reg.reg_code.value_counts()

0     7
84    7
76    7
75    7
44    7
32    7
28    7
4     6
1     6
2     6
3     6
94    6
93    6
6     3
11    3
24    3
27    3
52    2
Name: reg_code, dtype: int64

In [96]:
df_elec_region.head()

,OPERATEUR,ANNEE,FILIERE,TYPE,CODE,CONSOA,PDLA,INDQUALA,CONSOI,PDLI,INDQUALI,CONSOT,PDLT,INDQUALT,CONSOR,PDLR,INDQUALR,CONSONA,PDLNA,INDQUALNA
1,Enedis,2011,E,Region,11,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,2964.78,285,0.35639,0.0,0,0.0
3,Enedis,2011,E,Region,21,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,278.42,51,0.33137,0.0,0,0.0
4,Enedis,2011,E,Region,22,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,164.48,24,0.67157,0.0,0,0.0
5,Enedis,2011,E,Region,23,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,445.70,36,0.43547,0.0,0,0.0
6,Enedis,2011,E,Region,24,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,463.94,31,0.40971,0.0,0,0.0

In [97]:
df_elec_region_toconcat=df_elec_region[['FILIERE','ANNEE','CODE','CONSOA','PDLA','CONSOI','PDLI','CONSOT','PDLT','CONSOR','PDLR','CONSONA','PDLNA']]

In [98]:
df_elec_region_toconcat.columns=df_econso_reg.columns

In [99]:
df_econso_reg['reg_code']=df_econso_reg['reg_code'].apply(str)
df_elec_region_toconcat['reg_code']=df_elec_region_toconcat['reg_code'].apply(str)

<ipython-input-99-0b9f9b32c12b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elec_region_toconcat['reg_code']=df_elec_region_toconcat['reg_code'].apply(str)

In [100]:
frames2=[df_elec_region_toconcat, df_econso_reg]

In [101]:
df_e_region=pd.concat(frames2)

In [102]:
df_e_region.isna().sum()

energy      0
year        0
reg_code    0
consoa      0
pdla        0
consoi      0
pdli        0
consot      0
pdlt        0
consor      0
pdlr        0
consona     0
pdlna       0
dtype: int64

In [103]:
df_e_reg=df_e_region.groupby(['energy','year','reg_code']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [104]:
df_e_reg.head()

,energy,year,reg_code,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,E,2011,0,1174.57,167,25727.59,50,18004.43,1130,0.00,0,4974.71,542
1,E,2011,11,0.00,0,0.00,0,0.00,0,2964.78,285,0.00,0
2,E,2011,21,0.00,0,0.00,0,0.00,0,278.42,51,0.00,0
3,E,2011,22,0.00,0,0.00,0,0.00,0,164.48,24,0.00,0
4,E,2011,23,0.00,0,0.00,0,0.00,0,445.70,36,0.00,0

Now we will add the name of the region

In [105]:
df_reg=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Area/df_reg.csv', sep='/')

In [106]:
df_reg.head()

   reg_code    reg_name
0         1  GUADELOUPE
1         2  MARTINIQUE
2         3      GUYANE
3         4  LA REUNION
4         6     MAYOTTE

In [107]:
df_e_reg['reg_code']=df_e_reg['reg_code'].apply(str)
df_reg['reg_code']=df_reg['reg_code'].apply(str)

In [108]:
df_elecconso_reg = pd.merge(df_e_reg, df_reg, how='left', on=['reg_code'])

In [109]:
df_elecconso_reg.isna().sum()

energy       0
year         0
reg_code     0
consoa       0
pdla         0
consoi       0
pdli         0
consot       0
pdlt         0
consor       0
pdlr         0
consona      0
pdlna        0
reg_name    71
dtype: int64

In [110]:
df_elecconso_reg[df_elecconso_reg.isnull().any(axis=1)]

,energy,year,reg_code,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna,reg_name
0,E,2011,0,1174.57,167,25727.59,50,18004.43,1130,0.00,0,4974.71,542,NaN
2,E,2011,21,0.00,0,0.00,0,0.00,0,278.42,51,0.00,0,NaN
3,E,2011,22,0.00,0,0.00,0,0.00,0,164.48,24,0.00,0,NaN
4,E,2011,23,0.00,0,0.00,0,0.00,0,445.70,36,0.00,0,NaN
6,E,2011,25,0.00,0,0.00,0,0.00,0,35.00,11,0.00,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,E,2015,73,0.00,0,0.00,0,0.00,0,99.48,31,0.00,0,NaN
136,E,2015,82,0.00,0,0.00,0,0.00,0,699.70,124,0.00,0,NaN
138,E,2015,91,0.00,0,0.00,0,0.00,0,437.77,90,0.00,0,NaN
141,E,2016,0,7513.52,85,92817.40,1039,48302.48,1557,0.00,0,21198.45,1005,NaN
160,E,2017,0,261.04,5,33599.31,38,3396.99,224,0.00,0,4439.51,304,NaN

In [111]:
df_elecconso_reg.fillna('OTHER', inplace=True)

In [112]:
df_elecconso_reg.isna().sum()

energy      0
year        0
reg_code    0
consoa      0
pdla        0
consoi      0
pdli        0
consot      0
pdlt        0
consor      0
pdlr        0
consona     0
pdlna       0
reg_name    0
dtype: int64

We add a total column

In [113]:
df_elecconso_reg['total']= df_elecconso_reg['consoa'] + df_elecconso_reg['consoi'] + df_elecconso_reg['consot'] + df_elecconso_reg['consor'] + df_elecconso_reg['consona']

In [114]:
df_elecconso_reg.to_csv('df_econso_reg.csv', sep='/', index=False)

## Region level with population

In [150]:
df_elecconso_reg.head()

,energy,year,reg_code,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna,reg_name,total
0,E,2011,0,1174.57,167,25727.59,50,18004.43,1130,0.00,0,4974.71,542,OTHER,49881.30
1,E,2011,11,0.00,0,0.00,0,0.00,0,2964.78,285,0.00,0,ILE DE FRANCE,2964.78
2,E,2011,21,0.00,0,0.00,0,0.00,0,278.42,51,0.00,0,OTHER,278.42
3,E,2011,22,0.00,0,0.00,0,0.00,0,164.48,24,0.00,0,OTHER,164.48
4,E,2011,23,0.00,0,0.00,0,0.00,0,445.70,36,0.00,0,OTHER,445.70

In [151]:
df_reg_pop=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Area/df_reg_pop.csv', sep='/')

In [152]:
df_reg_pop.head()

   year                 reg_name  reg_pop
0  2019     AUVERGNE RHONE ALPES  8032377
1  2019  BOURGOGNE FRANCHE COMTE  2783039
2  2019                 BRETAGNE  3340379
3  2019      CENTRE VAL DE LOIRE  2559073
4  2019                    CORSE   344679

In [153]:
df_econso_reg_pop = pd.merge(df_elecconso_reg, df_reg_pop, how='left', on=['year','reg_name'])

In [154]:
df_econso_reg_pop.head()

,energy,year,reg_code,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna,reg_name,total,reg_pop
0,E,2011,0,1174.57,167,25727.59,50,18004.43,1130,0.00,0,4974.71,542,OTHER,49881.30,NaN
1,E,2011,11,0.00,0,0.00,0,0.00,0,2964.78,285,0.00,0,ILE DE FRANCE,2964.78,11852851.0
2,E,2011,21,0.00,0,0.00,0,0.00,0,278.42,51,0.00,0,OTHER,278.42,NaN
3,E,2011,22,0.00,0,0.00,0,0.00,0,164.48,24,0.00,0,OTHER,164.48,NaN
4,E,2011,23,0.00,0,0.00,0,0.00,0,445.70,36,0.00,0,OTHER,445.70,NaN

In [155]:
df_econso_reg_pop.isna().sum()

energy       0
year         0
reg_code     0
consoa       0
pdla         0
consoi       0
pdli         0
consot       0
pdlt         0
consor       0
pdlr         0
consona      0
pdlna        0
reg_name     0
total        0
reg_pop     71
dtype: int64

In [157]:
df_econso_reg_pop['reg_name'][df_econso_reg_pop.isnull().any(axis=1)].value_counts()

OTHER    71
Name: reg_name, dtype: int64

In [158]:
df_econso_reg_pop.fillna(0, inplace=True)

In [159]:
df_econso_reg_pop.isna().sum()

energy      0
year        0
reg_code    0
consoa      0
pdla        0
consoi      0
pdli        0
consot      0
pdlt        0
consor      0
pdlr        0
consona     0
pdlna       0
reg_name    0
total       0
reg_pop     0
dtype: int64

We will add some consumption by population

In [161]:
df_econso_reg_pop['consoa_p'] = df_econso_reg_pop['consoa'] / df_econso_reg_pop['reg_pop']
df_econso_reg_pop['consoi_p'] = df_econso_reg_pop['consoi'] / df_econso_reg_pop['reg_pop']
df_econso_reg_pop['consot_p'] = df_econso_reg_pop['consot'] / df_econso_reg_pop['reg_pop']
df_econso_reg_pop['consor_p'] = df_econso_reg_pop['consor'] / df_econso_reg_pop['reg_pop']

In [162]:
df_econso_reg_pop.head()

,energy,year,reg_code,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna,reg_name,total,reg_pop,consoa_p,consoi_p,consot_p,consor_p
0,E,2011,0,1174.57,167,25727.59,50,18004.43,1130,0.00,0,4974.71,542,OTHER,49881.30,0.0,inf,inf,inf,NaN
1,E,2011,11,0.00,0,0.00,0,0.00,0,2964.78,285,0.00,0,ILE DE FRANCE,2964.78,11852851.0,0.0,0.0,0.0,0.00025
2,E,2011,21,0.00,0,0.00,0,0.00,0,278.42,51,0.00,0,OTHER,278.42,0.0,NaN,NaN,NaN,inf
3,E,2011,22,0.00,0,0.00,0,0.00,0,164.48,24,0.00,0,OTHER,164.48,0.0,NaN,NaN,NaN,inf
4,E,2011,23,0.00,0,0.00,0,0.00,0,445.70,36,0.00,0,OTHER,445.70,0.0,NaN,NaN,NaN,inf

In [163]:
df_econso_reg_pop.to_csv('df_econso_reg_pop.csv', sep='/', index=False)

In [170]:
df_e_fr

,energy,year,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna,total
0,E,2011,100141.54,395,361673.738,1091,430536.541,12663,7077.38,820,3.373485e+05,20538,1.236778e+06
1,E,2012,99825.13,361,1446701.607,1548,692852.100,14330,8243.65,988,8.390828e+06,22699,1.063845e+07
2,E,2013,140757.61,715,3688979.834,2942,1426220.961,20077,9754.31,1199,8.503058e+06,22957,1.376877e+07
3,E,2014,136034.24,738,4303626.720,2726,1314027.090,18679,10746.97,1442,8.603519e+06,31018,1.436795e+07
4,E,2015,101815.06,2078,5847662.216,22594,2882416.540,52512,14759.46,2064,1.002193e+07,1372329,1.886858e+07
5,E,2016,159896.05,2259,6118307.210,18804,2629273.548,53745,35446.86,5472,1.036612e+07,1140805,1.930905e+07
6,E,2017,161022.92,4491,2660850.770,14667,3900111.700,126073,17344.15,3301,1.759517e+06,73703,8.498847e+06

In [165]:
df_e_fr['consoi'][df_e_fr['year']==2016].sum()

6118307.21

In [166]:
df_e_fr['total'][df_e_fr['year']==2016].sum()

19309046.99800001

In [168]:
df_e_fr['consoi'][df_e_fr['year']==2016].sum() / (df_e_fr['total'][df_e_fr['year']==2016].sum() - df_e_fr['consona'][df_e_fr['year']==2016].sum())

0.6841506689688988

In [169]:
df_e_fr['consor'][df_e_fr['year']==2016].sum() / (df_e_fr['total'][df_e_fr['year']==2016].sum() - df_e_fr['consona'][df_e_fr['year']==2016].sum())

0.003963676904325779

In [171]:
df_elecconso_reg

,energy,year,reg_code,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna,reg_name,total
0,E,2011,0,1174.57,167,25727.59,50,18004.43,1130,0.00,0,4974.71,542,OTHER,49881.30
1,E,2011,11,0.00,0,0.00,0,0.00,0,2964.78,285,0.00,0,ILE DE FRANCE,2964.78
2,E,2011,21,0.00,0,0.00,0,0.00,0,278.42,51,0.00,0,OTHER,278.42
3,E,2011,22,0.00,0,0.00,0,0.00,0,164.48,24,0.00,0,OTHER,164.48
4,E,2011,23,0.00,0,0.00,0,0.00,0,445.70,36,0.00,0,OTHER,445.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,E,2017,75,1495.22,307,38489.92,491,13427.07,962,2548.30,520,3524.89,168,NOUVELLE AQUITAINE,59485.40
174,E,2017,76,8837.02,724,126317.54,219,147893.60,2853,2410.64,448,38537.94,1900,OCCITANIE,323996.74
175,E,2017,84,8399.45,320,290913.50,711,326584.63,10619,3531.17,691,41550.96,1990,AUVERGNE RHONE ALPES,670979.71
176,E,2017,93,970.00,11,0.00,0,5435.00,157,0.00,0,50470.00,1893,PROVENCE ALPES COTE D AZUR,56875.00
177,E,2017,94,13540.00,574,125809.00,2400,574901.00,24049,0.00,0,212579.00,15743,CORSE,926829.00