# Import librairies

In [1]:
import pandas as pd
import numpy as np

# Get the data

We will first create dataframes for each year and then concatenate all years dataframes

We know from the presentation data file, that the data are very low before 2010, so we will extract only dataframes from year 2010

In [2]:
df_2010=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data new/donnees_produits petroliers_2010.csv', encoding = "ISO-8859-1", sep=';')

In [3]:
df_2010.shape

(111, 14)

In [4]:
df_2011=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data new/donnees_produits petroliers_2011.csv', encoding = "ISO-8859-1", sep=';')

In [5]:
df_2011.shape

(111, 15)

In [6]:
df_2012=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data new/donnees_produits petroliers_2012.csv', encoding = "ISO-8859-1", sep=';')

In [7]:
df_2012.shape

(111, 14)

In [8]:
df_2013=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data new/donnees_produits petroliers_2013.csv', encoding = "ISO-8859-1", sep=';')

In [9]:
df_2013.shape

(111, 14)

In [10]:
df_2014=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data new/donnees_produits petroliers_2014.csv', encoding = "ISO-8859-1", sep=';')

In [11]:
df_2014.shape

(111, 14)

In [12]:
df_2015=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data new/donnees_produits petroliers_2015.csv', encoding = "ISO-8859-1", sep=';')

In [13]:
df_2015.shape

(111, 14)

In [14]:
df_2016=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data new/donnees_produits petroliers_2016.csv', encoding = "ISO-8859-1", sep=';')

In [15]:
df_2016.shape

(111, 15)

In [16]:
df_2017=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data new/donnees_produits petroliers_2017.csv', encoding = "ISO-8859-1", sep=';', error_bad_lines=False)

In [17]:
df_2017.shape

(118, 15)

In [18]:
df_2018=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data new/donnees_produits petroliers_2018.csv', encoding = "ISO-8859-1", sep=';', error_bad_lines=False)

In [19]:
df_2018.shape

(110, 16)

In [20]:
df_2019=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data new/donnees_produits_petroliers_2019.csv', encoding = "ISO-8859-1", sep=';', error_bad_lines=False)

In [21]:
df_2019.shape

(110, 14)

In [22]:
frames=[df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019]

In [23]:
# Create the concatenate dataframe
df_petrol=pd.concat(frames)

In [24]:
df_petrol.shape

(1115, 17)

In [25]:
# Save the dataframe as a csv
df_petrol.to_csv('df_petrol.csv', sep='/', index=False)

# Data cleaning

## Missing values

In [26]:
df_petrol.isna().sum()

DEP                           7
REG                           7
ANNEE                         7
SUPER_PLOMBE                344
SUPER_SANS_PLOMB             15
SUPER_SANS_PLOMB_95          15
SUPER_SANS_PLOMB_95_E10      15
SUPER_SANS_PLOMB_98          15
GAZOLE                       15
FOD                          15
FOL                          12
GNR                          15
GPL                         583
CARBUREACTEUR              1105
Unnamed: 14                1115
SUPER_ETH_E85               675
Unnamed: 15                1115
dtype: int64

In [27]:
df_petrol.loc[df_petrol['DEP'].isna()]

,DEP,REG,ANNEE,SUPER_PLOMBE,SUPER_SANS_PLOMB,SUPER_SANS_PLOMB_95,SUPER_SANS_PLOMB_95_E10,SUPER_SANS_PLOMB_98,GAZOLE,FOD,FOL,GNR,GPL,CARBUREACTEUR,Unnamed: 14,SUPER_ETH_E85,Unnamed: 15
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

As we can see we have 7 rows without any values, we will drop them

In [28]:
df_petrol.drop([111, 112, 113, 114, 115, 116, 117], inplace=True)

As we can see, there are 2 columns unamed, we will drop them

In [29]:
# Drop columns unnamed
df_petrol.drop(['Unnamed: 14','Unnamed: 15'], axis=1, inplace=True)

Missing values corresponds to 0 value, we will fullfill missing value with 0

In [30]:
df_petrol.fillna(0, inplace=True)

In [31]:
df_petrol.isna().sum()

DEP                        0
REG                        0
ANNEE                      0
SUPER_PLOMBE               0
SUPER_SANS_PLOMB           0
SUPER_SANS_PLOMB_95        0
SUPER_SANS_PLOMB_95_E10    0
SUPER_SANS_PLOMB_98        0
GAZOLE                     0
FOD                        0
FOL                        0
GNR                        0
GPL                        0
CARBUREACTEUR              0
SUPER_ETH_E85              0
dtype: int64

## Data types

In [32]:
df_petrol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1108 entries, 0 to 109
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DEP                      1108 non-null   object
 1   REG                      1108 non-null   object
 2   ANNEE                    1108 non-null   float64
 3   SUPER_PLOMBE             1108 non-null   float64
 4   SUPER_SANS_PLOMB         1108 non-null   object
 5   SUPER_SANS_PLOMB_95      1108 non-null   object
 6   SUPER_SANS_PLOMB_95_E10  1108 non-null   object
 7   SUPER_SANS_PLOMB_98      1108 non-null   object
 8   GAZOLE                   1108 non-null   object
 9   FOD                      1108 non-null   object
 10  FOL                      1108 non-null   object
 11  GNR                      1108 non-null   object
 12  GPL                      1108 non-null   object
 13  CARBUREACTEUR            1108 non-null   object
 14  SUPER_ETH_E85            1108 non-null   object
dtypes: float64(2), object(13)
memory usage: 138.5+ KB

As we can see some columns are object columns but they should be numeric, we will transform them into numeric

In [33]:
df_petrol['SUPER_SANS_PLOMB']=df_petrol['SUPER_SANS_PLOMB'].apply(str)
df_petrol['SUPER_SANS_PLOMB_95']=df_petrol['SUPER_SANS_PLOMB_95'].apply(str)
df_petrol['SUPER_SANS_PLOMB_95_E10']=df_petrol['SUPER_SANS_PLOMB_95_E10'].apply(str)
df_petrol['SUPER_SANS_PLOMB_98']=df_petrol['SUPER_SANS_PLOMB_98'].apply(str)
df_petrol['GAZOLE']=df_petrol['GAZOLE'].apply(str)
df_petrol['FOD']=df_petrol['FOD'].apply(str)
df_petrol['FOL']=df_petrol['FOL'].apply(str)
df_petrol['GNR']=df_petrol['GNR'].apply(str)
df_petrol['GPL']=df_petrol['GPL'].apply(str)
df_petrol['CARBUREACTEUR']=df_petrol['CARBUREACTEUR'].apply(str)
df_petrol['SUPER_ETH_E85']=df_petrol['SUPER_ETH_E85'].apply(str)

In [34]:
df_petrol[['SUPER_SANS_PLOMB','SUPER_SANS_PLOMB_95','SUPER_SANS_PLOMB_95_E10','SUPER_SANS_PLOMB_98','GAZOLE','FOD','FOL','GNR','GPL','CARBUREACTEUR','SUPER_ETH_E85']]=df_petrol[['SUPER_SANS_PLOMB','SUPER_SANS_PLOMB_95','SUPER_SANS_PLOMB_95_E10','SUPER_SANS_PLOMB_98','GAZOLE','FOD','FOL','GNR','GPL','CARBUREACTEUR','SUPER_ETH_E85']].apply(lambda x: x.str.replace(',','.'))

In [35]:
df_petrol[['SUPER_SANS_PLOMB','SUPER_SANS_PLOMB_95','SUPER_SANS_PLOMB_95_E10','SUPER_SANS_PLOMB_98','GAZOLE','FOD','FOL','GNR','GPL','CARBUREACTEUR','SUPER_ETH_E85']]=df_petrol[['SUPER_SANS_PLOMB','SUPER_SANS_PLOMB_95','SUPER_SANS_PLOMB_95_E10','SUPER_SANS_PLOMB_98','GAZOLE','FOD','FOL','GNR','GPL','CARBUREACTEUR','SUPER_ETH_E85']].apply(lambda x: x.str.replace(' ',''))

In [36]:
df_petrol[['SUPER_SANS_PLOMB','SUPER_SANS_PLOMB_95','SUPER_SANS_PLOMB_95_E10','SUPER_SANS_PLOMB_98','GAZOLE','FOD','FOL','GNR','GPL','CARBUREACTEUR','SUPER_ETH_E85']]=df_petrol[['SUPER_SANS_PLOMB','SUPER_SANS_PLOMB_95','SUPER_SANS_PLOMB_95_E10','SUPER_SANS_PLOMB_98','GAZOLE','FOD','FOL','GNR','GPL','CARBUREACTEUR','SUPER_ETH_E85']].apply(pd.to_numeric)

In [37]:
df_petrol['DEP'].unique()

array(['75', '77', '78', '91', '92', '93', '94', '95', '99', '18', '28',
       '36', '37', '41', '45', '21', '25', '39', '58', '70', '71', '89',
       '90', '14', '27', '50', '61', '76', '2', '59', '60', '62', '80',
       '8', '10', '51', '52', '54', '55', '57', '67', '68', '88', '44',
       '49', '53', '72', '85', '22', '29', '35', '56', '16', '17', '19',
       '23', '24', '33', '40', '47', '64', '79', '86', '87', '9', '11',
       '12', '30', '31', '32', '34', '46', '48', '65', '66', '81', '82',
       '1', '3', '7', '15', '26', '38', '42', '43', '63', '69', '73',
       '74', '4', '5', '6', '13', '83', '84', '2A', '2B', 'FR'],
      dtype=object)

As we can see, some of the values in the column are string and others are number, we will convert all the values as string

In [38]:
df_petrol['DEP']=df_petrol['DEP'].apply(str)

In [39]:
df_petrol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1108 entries, 0 to 109
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DEP                      1108 non-null   object
 1   REG                      1108 non-null   object
 2   ANNEE                    1108 non-null   float64
 3   SUPER_PLOMBE             1108 non-null   float64
 4   SUPER_SANS_PLOMB         1108 non-null   float64
 5   SUPER_SANS_PLOMB_95      1108 non-null   float64
 6   SUPER_SANS_PLOMB_95_E10  1108 non-null   float64
 7   SUPER_SANS_PLOMB_98      1108 non-null   float64
 8   GAZOLE                   1108 non-null   float64
 9   FOD                      1108 non-null   float64
 10  FOL                      1108 non-null   float64
 11  GNR                      1108 non-null   float64
 12  GPL                      1108 non-null   float64
 13  CARBUREACTEUR            1108 non-null   float64
 14  SUPER_ETH_E85            1108 non-null   float64
dtypes: float64(13), object(2)
memory usage: 138.5+ KB

## Departement name

We will add the departement name to the df

In [40]:
df_petrol.DEP.unique()

array(['75', '77', '78', '91', '92', '93', '94', '95', '99', '18', '28',
       '36', '37', '41', '45', '21', '25', '39', '58', '70', '71', '89',
       '90', '14', '27', '50', '61', '76', '2', '59', '60', '62', '80',
       '8', '10', '51', '52', '54', '55', '57', '67', '68', '88', '44',
       '49', '53', '72', '85', '22', '29', '35', '56', '16', '17', '19',
       '23', '24', '33', '40', '47', '64', '79', '86', '87', '9', '11',
       '12', '30', '31', '32', '34', '46', '48', '65', '66', '81', '82',
       '1', '3', '7', '15', '26', '38', '42', '43', '63', '69', '73',
       '74', '4', '5', '6', '13', '83', '84', '2A', '2B', 'FR'],
      dtype=object)

As we can see, some department code only contain 1 number. We will add a 0 before the number for each department code which contain only a single number

In [41]:
df_petrol['DEP'][(df_petrol.DEP.str.len() < 2)]=df_petrol['DEP'].apply(lambda x: '0'+str(x))

<ipython-input-41-c48b32fc27ca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_petrol['DEP'][(df_petrol.DEP.str.len() < 2)]=df_petrol['DEP'].apply(lambda x: '0'+str(x))

In [42]:
df_petrol.DEP.unique()

array(['75', '77', '78', '91', '92', '93', '94', '95', '99', '18', '28',
       '36', '37', '41', '45', '21', '25', '39', '58', '70', '71', '89',
       '90', '14', '27', '50', '61', '76', '02', '59', '60', '62', '80',
       '08', '10', '51', '52', '54', '55', '57', '67', '68', '88', '44',
       '49', '53', '72', '85', '22', '29', '35', '56', '16', '17', '19',
       '23', '24', '33', '40', '47', '64', '79', '86', '87', '09', '11',
       '12', '30', '31', '32', '34', '46', '48', '65', '66', '81', '82',
       '01', '03', '07', '15', '26', '38', '42', '43', '63', '69', '73',
       '74', '04', '05', '06', '13', '83', '84', '2A', '2B', 'FR'],
      dtype=object)

Then we import the dataframe related to the departement information and we merge with our dataframe on petrol

In [43]:
# Import the dataframe with the name corresponding to the code for each departement
df_dep=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Area/df_dep.csv', sep='/')

In [44]:
df_dep.head()

  dep_code                 dep_name
0       02                    AISNE
1       03                   ALLIER
2       05             HAUTES-ALPES
3       04  ALPES-DE-HAUTE-PROVENCE
4       06          ALPES-MARITIMES

In [45]:
df_petrol.rename(columns={"DEP": "dep_code"}, inplace=True)

In [46]:
df_petrol_merge = pd.merge(df_petrol, df_dep, how='left', on=['dep_code'])

In [47]:
df_petrol_merge.isna().sum()

dep_code                     0
REG                          0
ANNEE                        0
SUPER_PLOMBE                 0
SUPER_SANS_PLOMB             0
SUPER_SANS_PLOMB_95          0
SUPER_SANS_PLOMB_95_E10      0
SUPER_SANS_PLOMB_98          0
GAZOLE                       0
FOD                          0
FOL                          0
GNR                          0
GPL                          0
CARBUREACTEUR                0
SUPER_ETH_E85                0
dep_name                   148
dtype: int64

In [48]:
df_petrol_merge['dep_code'][df_petrol_merge.isnull().any(axis=1)].value_counts()

99    138
FR     10
Name: dep_code, dtype: int64

As we can see some departement code have the value '99' and 'FR', it correponds to the total per region and total France. We will drop those rows

In [49]:
df_petrol_merge.dropna(inplace=True)

## Column manipulation

In order to manipulate our dataframe later, we will rename the columns

In [50]:
df_petrol_merge.columns

Index(['dep_code', 'REG', 'ANNEE', 'SUPER_PLOMBE', 'SUPER_SANS_PLOMB',
       'SUPER_SANS_PLOMB_95', 'SUPER_SANS_PLOMB_95_E10', 'SUPER_SANS_PLOMB_98',
       'GAZOLE', 'FOD', 'FOL', 'GNR', 'GPL', 'CARBUREACTEUR', 'SUPER_ETH_E85',
       'dep_name'],
      dtype='object')

In [51]:
df_petrol_merge.columns=['dep_code','reg_code','year','super_plomb','super_sans_plomb','super_sans_plomb_95','super_sans_plomb_95_E10','super_sans_plomb_98','gazole','fioul_dom','fioul_ndom','gazole_nr','gpl','carbureacteur','E85','dep_name']

In [52]:
df_petrol_merge.head()

,dep_code,reg_code,year,super_plomb,super_sans_plomb,super_sans_plomb_95,super_sans_plomb_95_E10,super_sans_plomb_98,gazole,fioul_dom,fioul_ndom,gazole_nr,gpl,carbureacteur,E85,dep_name
0,75,11,2010.0,0.0,117211.6,25935.07617,56332.20348,34944.04249,257274.0,20016.0,55024.0,0.0,0.0,0.0,0.0,PARIS
1,77,11,2010.0,0.0,187748.4,100523.00780,46476.38612,40749.10293,691796.0,158005.0,26339.0,0.0,0.0,0.0,0.0,SEINE-ET-MARNE
2,78,11,2010.0,0.0,214284.0,84730.55979,75179.36611,54374.24572,540504.0,99206.0,1204.0,0.0,0.0,0.0,0.0,YVELINES
3,91,11,2010.0,0.0,182665.3,80948.69236,61748.45701,39968.02241,551489.0,92474.0,971.0,0.0,0.0,0.0,0.0,ESSONNE
4,92,11,2010.0,0.0,141837.3,32156.60470,70295.26859,39385.48955,270645.0,194801.0,20635.0,0.0,0.0,0.0,0.0,HAUTS-DE-SEINE

We will add a new column called 'energy' in order to do some analysis with elec and gaz dataframe

In [53]:
df_petrol_merge['energy']='P'

In [54]:
df_petrol_merge.reg_code.value_counts()

76    130
84    120
75    120
44    100
27     80
11     80
93     60
24     60
52     50
32     50
28     50
53     40
94     20
Name: reg_code, dtype: int64

Then we reorder the columns

In [55]:
# Reorder the column
df_petrol_clean=df_petrol_merge[['energy','year','dep_code','dep_name','super_plomb','super_sans_plomb','super_sans_plomb_95','super_sans_plomb_95_E10','super_sans_plomb_98','E85','gazole','gazole_nr','fioul_dom','fioul_ndom','gpl','carbureacteur']]

In [56]:
df_petrol_clean.head()

,energy,year,dep_code,dep_name,super_plomb,super_sans_plomb,super_sans_plomb_95,super_sans_plomb_95_E10,super_sans_plomb_98,E85,gazole,gazole_nr,fioul_dom,fioul_ndom,gpl,carbureacteur
0,P,2010.0,75,PARIS,0.0,117211.6,25935.07617,56332.20348,34944.04249,0.0,257274.0,0.0,20016.0,55024.0,0.0,0.0
1,P,2010.0,77,SEINE-ET-MARNE,0.0,187748.4,100523.00780,46476.38612,40749.10293,0.0,691796.0,0.0,158005.0,26339.0,0.0,0.0
2,P,2010.0,78,YVELINES,0.0,214284.0,84730.55979,75179.36611,54374.24572,0.0,540504.0,0.0,99206.0,1204.0,0.0,0.0
3,P,2010.0,91,ESSONNE,0.0,182665.3,80948.69236,61748.45701,39968.02241,0.0,551489.0,0.0,92474.0,971.0,0.0,0.0
4,P,2010.0,92,HAUTS-DE-SEINE,0.0,141837.3,32156.60470,70295.26859,39385.48955,0.0,270645.0,0.0,194801.0,20635.0,0.0,0.0

## Export clean data

In [57]:
df_petrol_clean.to_csv('df_petrol_clean.csv', sep='/', index=False)

# Dataframe manipulation

We will create a dataframe to do our data viz analysis

In [58]:
df_pconso=df_petrol_clean.copy()

In [59]:
df_pconso.head()

,energy,year,dep_code,dep_name,super_plomb,super_sans_plomb,super_sans_plomb_95,super_sans_plomb_95_E10,super_sans_plomb_98,E85,gazole,gazole_nr,fioul_dom,fioul_ndom,gpl,carbureacteur
0,P,2010.0,75,PARIS,0.0,117211.6,25935.07617,56332.20348,34944.04249,0.0,257274.0,0.0,20016.0,55024.0,0.0,0.0
1,P,2010.0,77,SEINE-ET-MARNE,0.0,187748.4,100523.00780,46476.38612,40749.10293,0.0,691796.0,0.0,158005.0,26339.0,0.0,0.0
2,P,2010.0,78,YVELINES,0.0,214284.0,84730.55979,75179.36611,54374.24572,0.0,540504.0,0.0,99206.0,1204.0,0.0,0.0
3,P,2010.0,91,ESSONNE,0.0,182665.3,80948.69236,61748.45701,39968.02241,0.0,551489.0,0.0,92474.0,971.0,0.0,0.0
4,P,2010.0,92,HAUTS-DE-SEINE,0.0,141837.3,32156.60470,70295.26859,39385.48955,0.0,270645.0,0.0,194801.0,20635.0,0.0,0.0

We will add column corresponding to the total of others columns to do a global analysis

In [60]:
df_pconso['car']=df_pconso.super_plomb + df_pconso.super_sans_plomb + df_pconso.super_sans_plomb_95 + df_pconso.super_sans_plomb_95_E10 + df_pconso.super_sans_plomb_98 + df_pconso.E85 + df_pconso.gazole + df_pconso.gpl
df_pconso['car_p']=df_pconso.super_plomb + df_pconso.super_sans_plomb + df_pconso.super_sans_plomb_95 + df_pconso.super_sans_plomb_95_E10 + df_pconso.super_sans_plomb_98 + df_pconso.E85 + df_pconso.gazole

df_pconso['engine']=df_pconso.fioul_ndom + df_pconso.gazole_nr + df_pconso.carbureacteur

In [61]:
df_pconso.head()

,energy,year,dep_code,dep_name,super_plomb,super_sans_plomb,super_sans_plomb_95,super_sans_plomb_95_E10,super_sans_plomb_98,E85,gazole,gazole_nr,fioul_dom,fioul_ndom,gpl,carbureacteur,car,car_p,engine
0,P,2010.0,75,PARIS,0.0,117211.6,25935.07617,56332.20348,34944.04249,0.0,257274.0,0.0,20016.0,55024.0,0.0,0.0,4.916969e+05,4.916969e+05,55024.0
1,P,2010.0,77,SEINE-ET-MARNE,0.0,187748.4,100523.00780,46476.38612,40749.10293,0.0,691796.0,0.0,158005.0,26339.0,0.0,0.0,1.067293e+06,1.067293e+06,26339.0
2,P,2010.0,78,YVELINES,0.0,214284.0,84730.55979,75179.36611,54374.24572,0.0,540504.0,0.0,99206.0,1204.0,0.0,0.0,9.690722e+05,9.690722e+05,1204.0
3,P,2010.0,91,ESSONNE,0.0,182665.3,80948.69236,61748.45701,39968.02241,0.0,551489.0,0.0,92474.0,971.0,0.0,0.0,9.168195e+05,9.168195e+05,971.0
4,P,2010.0,92,HAUTS-DE-SEINE,0.0,141837.3,32156.60470,70295.26859,39385.48955,0.0,270645.0,0.0,194801.0,20635.0,0.0,0.0,5.543197e+05,5.543197e+05,20635.0

We add a total column

In [62]:
df_pconso['total']= df_pconso['car'] + df_pconso['fioul_dom'] + df_pconso['engine']

We will add total per essence and gazole for car

In [63]:
df_pconso['car_essence']= df_pconso['super_plomb'] + df_pconso['super_sans_plomb'] + df_pconso['super_sans_plomb_95'] + df_pconso['super_sans_plomb_95_E10'] + df_pconso['super_sans_plomb_98'] + df_pconso['E85']
df_pconso['car_gazole']= df_pconso['gazole'] + df_pconso['gazole_nr']

In order to do some cross analysis with electricity and gas, we will add columns corresponding to the energetic value in MWh (1 tonnes of petrol = 11,628 MWh)

In [64]:
df_pconso['super_plomb_mwh'] = df_pconso['super_plomb'] * 11.628
df_pconso['super_sans_plomb_mhw'] = df_pconso['super_sans_plomb'] * 11.628
df_pconso['super_sans_plomb_95_mhw'] = df_pconso['super_sans_plomb_95'] * 11.628
df_pconso['super_sans_plomb_95_E10_mhw'] = df_pconso['super_sans_plomb_95_E10'] * 11.628
df_pconso['super_sans_plomb_98_mhw'] = df_pconso['super_sans_plomb_98'] * 11.628
df_pconso['gazole_mhw'] = df_pconso['gazole'] * 11.628
df_pconso['gazole_nr_mhw'] = df_pconso['gazole_nr'] * 11.628
df_pconso['fioul_dom_mhw'] = df_pconso['fioul_dom'] * 11.628
df_pconso['fioul_ndom_mhw'] = df_pconso['fioul_ndom'] * 11.628
df_pconso['gpl_mhw'] = df_pconso['gpl'] * 11.628
df_pconso['carbureacteur_mhw'] = df_pconso['carbureacteur'] * 11.628
df_pconso['car_mhw'] = df_pconso['car'] * 11.628
df_pconso['car_p_mhw'] = df_pconso['car_p'] * 11.628
df_pconso['engine_mhw'] = df_pconso['engine'] * 11.628
df_pconso['total_mhw'] = df_pconso['total'] * 11.628
df_pconso['car_essence_mhw'] = df_pconso['car_essence'] * 11.628
df_pconso['car_gazole_mhw'] = df_pconso['car_gazole'] * 11.628

In [71]:
df_pconso.year=df_pconso.year.astype(int)

In [75]:
df_pconso.to_csv('df_pconso.csv', sep='/', index=False)

In [73]:
df_pconso.head()

,energy,year,dep_code,dep_name,super_plomb,super_sans_plomb,super_sans_plomb_95,super_sans_plomb_95_E10,super_sans_plomb_98,E85,...,fioul_dom_mhw,fioul_ndom_mhw,gpl_mhw,carbureacteur_mhw,car_mhw,car_p_mhw,engine_mhw,total_mhw,car_essence_mhw,car_gazole_mhw
0,P,2010,75,PARIS,0.0,117211.6,25935.07617,56332.20348,34944.04249,0.0,...,232746.048,639819.072,0.0,0.0,5.717452e+06,5.717452e+06,639819.072,6.590017e+06,2.725870e+06,2991582.072
1,P,2010,77,SEINE-ET-MARNE,0.0,187748.4,100523.00780,46476.38612,40749.10293,0.0,...,1837282.140,306269.892,0.0,0.0,1.241048e+07,1.241048e+07,306269.892,1.455403e+07,4.366278e+06,8044203.888
2,P,2010,78,YVELINES,0.0,214284.0,84730.55979,75179.36611,54374.24572,0.0,...,1153567.368,14000.112,0.0,0.0,1.126837e+07,1.126837e+07,14000.112,1.243594e+07,4.983391e+06,6284980.512
3,P,2010,91,ESSONNE,0.0,182665.3,80948.69236,61748.45701,39968.02241,0.0,...,1075287.672,11290.788,0.0,0.0,1.066078e+07,1.066078e+07,11290.788,1.174736e+07,4.248063e+06,6412714.092
4,P,2010,92,HAUTS-DE-SEINE,0.0,141837.3,32156.60470,70295.26859,39385.48955,0.0,...,2265146.028,239943.780,0.0,0.0,6.445629e+06,6.445629e+06,239943.780,8.950719e+06,3.298569e+06,3147060.060

In [74]:
df_pconso.year

0       2010
1       2010
2       2010
3       2010
4       2010
        ...
1100    2019
1101    2019
1102    2019
1104    2019
1105    2019
Name: year, Length: 960, dtype: int64