# Import the libraries

In [1]:
import pandas as pd
import numpy as np

# Communes

In [2]:
# Get the data
df_com_2020=pd.read_csv('/Users/Jeff/Downloads/communes2020 3.csv')

In [3]:
# Only keep the column we are interested in (Code and Name)
com_20=df_com_2020[['com','ncc']]

In [4]:
# Rename the column to have the same format of the main dataframes
com_20.columns=['CODE','NOM']

In [5]:
# Drop duplicates from the column CODE
comm_20 = com_20.drop_duplicates(subset='CODE')

As we don't have enough information using the 2020 database, we will also import 2019 commune database and concatenate the dataframes

In [6]:
# Get the data
df_com_2019=pd.read_csv('/Users/Jeff/Downloads/communes-01012019.csv')

In [7]:
# Only keep the column we are interested in (Code and Name)
com_19=df_com_2019[['com', 'ncc']]

In [8]:
# Rename the column to have the same format of the main dataframes
com_19.columns=['CODE','NOM']

In [9]:
# Drop duplicates from the column CODE
comm_19 = com_19.drop_duplicates(subset='CODE')

Now we need to concatenate 2020 and 2019 dataframes

In [10]:
# Create a variable that will contain the dataframes we need to concatenate
frames=[comm_19, comm_20]

In [11]:
# Concatenate the dataframes
com=pd.concat(frames)

In [12]:
# Identify any missing value
com.isna().sum()

CODE    0
NOM     0
dtype: int64

In [13]:
# Drop duplicates from the column CODE
comm = com.drop_duplicates(subset='CODE')

In [14]:
# Export the dataframe into csv
comm.to_csv('df_com.csv', sep='/', index=False)

# Departement

In [15]:
# Get the data
df_dep=pd.read_csv('/Users/Jeff/Downloads/departement.csv')

In [16]:
# See df head
df_dep.head()

,1,01,Ain,AIN,ain,A500
0,2,02,Aisne,AISNE,aisne,A250
1,3,03,Allier,ALLIER,allier,A460
2,5,05,Hautes-Alpes,HAUTES-ALPES,hautes-alpes,H32412
3,4,04,Alpes-de-Haute-Provence,ALPES-DE-HAUTE-PROVENCE,alpes-de-haute-provence,A412316152
4,6,06,Alpes-Maritimes,ALPES-MARITIMES,alpes-maritimes,A41256352

In [17]:
# Only keep the column we are interested in (Code and Name)
dep=df_dep[['01','AIN']]

As we can see in the df head, the column corresponds to the first row of the dataframe. We will add the column in the row and rename the columns

In [18]:
# Create a variable that contain the row to append
to_append=pd.DataFrame([['01', 'AIN']], columns=['01','AIN'])

In [19]:
# Append to row the original df
dep=dep.append(to_append)

In [20]:
# Rename the column
dep.columns=['dep_code','dep_name']

In [21]:
# See the df head
dep.dep_code.unique()

array(['02', '03', '05', '04', '06', '07', '08', '09', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '2a', '2b', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55',
       '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66',
       '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77',
       '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88',
       '89', '90', '91', '92', '93', '94', '95', '976', '971', '973',
       '972', '974', '01'], dtype=object)

As we can see, for CORSE the departement is in lower case, we will transform it in upper case

In [22]:
# Transform 2a into 2A and 2b into 2B
dep['dep_code']=np.where(dep['dep_code']=='2a', '2A', dep['dep_code'])
dep['dep_code']=np.where(dep['dep_code']=='2b', '2B', dep['dep_code'])

In [23]:
# See dep_code unique value
dep.dep_code.unique()

array(['02', '03', '05', '04', '06', '07', '08', '09', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '2A', '2B', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55',
       '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66',
       '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77',
       '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88',
       '89', '90', '91', '92', '93', '94', '95', '976', '971', '973',
       '972', '974', '01'], dtype=object)

In [24]:
# Export df into csv
dep.to_csv('df_dep.csv', sep='/', index=False)