# Import libraries

In [1]:
import pandas as pd
import numpy as np

# Get the data

We will first create dataframes for each year and then concatenate all years dataframes

We know from the presentation data file, that the data are very low before 2011, so we will extract only dataframes from year 2011

In [2]:
df_2011=pd.read_csv('/Users/Jeff/Downloads/donnees-electricite-2017 (1)/donnees_elec_2011.csv', encoding = "ISO-8859-1", sep=';')

In [3]:
df_2011.shape

(48774, 20)

In [4]:
df_2012=pd.read_csv('/Users/Jeff/Downloads/donnees-electricite-2017 (1)/donnees_elec_2012.csv', encoding = "ISO-8859-1", sep=';')

/usr/local/Cellar/jupyterlab/2.2.0/libexec/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
df_2012.shape

(50394, 20)

In [6]:
df_2013=pd.read_csv('/Users/Jeff/Downloads/donnees-electricite-2017 (1)/donnees_elec_2013.csv', encoding = "ISO-8859-1", sep=';')

In [7]:
df_2013.shape

(50877, 20)

In [8]:
df_2014=pd.read_csv('/Users/Jeff/Downloads/donnees-electricite-2017 (1)/donnees_elec_2014.csv', encoding = "ISO-8859-1", sep=';')

In [9]:
df_2014.shape

(50904, 20)

In [10]:
df_2015=pd.read_csv('/Users/Jeff/Downloads/donnees-electricite-2017 (1)/donnees_elec_2015.csv', encoding = "ISO-8859-1", sep=';')

In [11]:
df_2015.shape

(52516, 20)

In [12]:
df_2016=pd.read_csv('/Users/Jeff/Downloads/donnees-electricite-2017 (1)/donnees_elec_2016.csv', encoding = "ISO-8859-1", sep=';')

In [13]:
df_2016.shape

(52585, 20)

In [14]:
df_2017=pd.read_csv('/Users/Jeff/Downloads/donnees-electricite-2017 (1)/donnees_elec_2017.csv', encoding = "ISO-8859-1", sep=';')

In [15]:
df_2017.shape

(51905, 22)

In [16]:
frames=[df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017]

In [17]:
# Create the concatenate dataframe
df_electricity=pd.concat(frames)

In [18]:
df_electricity.shape

(357955, 22)

In [19]:
# Save the dataframe as a csv
df_electricity.to_csv('df_electricity.csv', sep='/', index=False)

# Data cleaning

## Missing values

In [20]:
df_electricity.head()

,OPERATEUR,ANNEE,FILIERE,TYPE,CODE,CONSOA,PDLA,INDQUALA,CONSOI,PDLI,...,PDLT,INDQUALT,CONSOR,PDLR,INDQUALR,CONSONA,PDLNA,INDQUALNA,THERMOR,PARTR
0,Enedis,2011,E,InterCom,0,"0,00",0,"0,000000","0,00",0,...,0,"0,000000","1682,00",176,"0,372100","0,00",0,"0,000000",NaN,NaN
1,Enedis,2011,E,Region,11,"0,00",0,"0,000000","0,00",0,...,0,"0,000000","2964,78",285,"0,356390","0,00",0,"0,000000",NaN,NaN
2,Enedis,2011,E,InterCom,200023414,"0,00",0,"0,000000","0,00",0,...,0,"0,000000","333,32",32,"0,506710","0,00",0,"0,000000",NaN,NaN
3,Enedis,2011,E,Region,21,"0,00",0,"0,000000","0,00",0,...,0,"0,000000","278,42",51,"0,331370","0,00",0,"0,000000",NaN,NaN
4,Enedis,2011,E,Region,22,"0,00",0,"0,000000","0,00",0,...,0,"0,000000","164,48",24,"0,671570","0,00",0,"0,000000",NaN,NaN

In [21]:
df_electricity.shape

(357955, 22)

In [22]:
df_electricity.isna().sum()

OPERATEUR         0
ANNEE             0
FILIERE           0
TYPE              0
CODE              0
CONSOA            0
PDLA              0
INDQUALA          0
CONSOI            0
PDLI              0
INDQUALI          0
CONSOT            0
PDLT              0
INDQUALT          0
CONSOR            0
PDLR              0
INDQUALR          0
CONSONA           0
PDLNA             0
INDQUALNA         0
THERMOR      306058
PARTR        306058
dtype: int64

As the major part of THERMOR and PARTR columns are missing values, we decide to drop them.

In [23]:
df_electricity.drop(['THERMOR','PARTR'], axis=1, inplace=True)

In [24]:
df_electricity.isna().sum()

OPERATEUR    0
ANNEE        0
FILIERE      0
TYPE         0
CODE         0
CONSOA       0
PDLA         0
INDQUALA     0
CONSOI       0
PDLI         0
INDQUALI     0
CONSOT       0
PDLT         0
INDQUALT     0
CONSOR       0
PDLR         0
INDQUALR     0
CONSONA      0
PDLNA        0
INDQUALNA    0
dtype: int64

No more missing value

In [25]:
# Reset the index because index wasn't unique
df_electricity.reset_index(inplace=True, drop=True)

## Data level

In [26]:
df_electricity['TYPE'].value_counts()

IRIS        346508
Commune      10972
InterCom       337
Region         138
Name: TYPE, dtype: int64

As we can see, there are several type of area. In order to do our analysis we will only keep the value by commune

In [27]:
df_electricity.drop(df_electricity[ df_electricity['TYPE'] != 'Commune' ].index , inplace=True)

In [28]:
df_electricity['TYPE'].value_counts()

Commune    10972
Name: TYPE, dtype: int64

## Data types

In [29]:
df_electricity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10972 entries, 2476 to 357954
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OPERATEUR  10972 non-null  object
 1   ANNEE      10972 non-null  int64
 2   FILIERE    10972 non-null  object
 3   TYPE       10972 non-null  object
 4   CODE       10972 non-null  object
 5   CONSOA     10972 non-null  object
 6   PDLA       10972 non-null  int64
 7   INDQUALA   10972 non-null  object
 8   CONSOI     10972 non-null  object
 9   PDLI       10972 non-null  int64
 10  INDQUALI   10972 non-null  object
 11  CONSOT     10972 non-null  object
 12  PDLT       10972 non-null  int64
 13  INDQUALT   10972 non-null  object
 14  CONSOR     10972 non-null  object
 15  PDLR       10972 non-null  int64
 16  INDQUALR   10972 non-null  object
 17  CONSONA    10972 non-null  object
 18  PDLNA      10972 non-null  int64
 19  INDQUALNA  10972 non-null  object
dtypes: int64(6), object(14)
memory usage: 1.8+ MB

As we can see, some of the columns have a wrong data type, we will transform the data type of those columns

In [30]:
df_electricity[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']]=df_electricity[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']].apply(lambda x: x.str.replace(',','.'))

In [31]:
df_electricity[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']] = df_electricity[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']].apply(pd.to_numeric)

In [32]:
df_electricity['CODE'].unique()

array([6103, 9015, 9076, ..., '97615', '97616', '97617'], dtype=object)

As we can see, some of the values in the column are string and others are number, we will convert all the values as string

In [33]:
df_electricity['CODE']=df_electricity['CODE'].apply(str)

In [34]:
df_electricity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10972 entries, 2476 to 357954
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OPERATEUR  10972 non-null  object
 1   ANNEE      10972 non-null  int64
 2   FILIERE    10972 non-null  object
 3   TYPE       10972 non-null  object
 4   CODE       10972 non-null  object
 5   CONSOA     10972 non-null  float64
 6   PDLA       10972 non-null  int64
 7   INDQUALA   10972 non-null  float64
 8   CONSOI     10972 non-null  float64
 9   PDLI       10972 non-null  int64
 10  INDQUALI   10972 non-null  float64
 11  CONSOT     10972 non-null  float64
 12  PDLT       10972 non-null  int64
 13  INDQUALT   10972 non-null  float64
 14  CONSOR     10972 non-null  float64
 15  PDLR       10972 non-null  int64
 16  INDQUALR   10972 non-null  float64
 17  CONSONA    10972 non-null  float64
 18  PDLNA      10972 non-null  int64
 19  INDQUALNA  10972 non-null  float64
dtypes: float64(10), int64(6), object(4)
memory usage: 1.8+ MB

## Commune name, departement code and name

### Add commune name

Now that we only have information per commune, we will add the name of the commune

In [35]:
# Import the dataframe with the name corresponding to the code for each commune
df_com=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/df_com.csv', sep='/')

In [36]:
df_com.head()

    CODE                    NOM
0  01001  ABERGEMENT CLEMENCIAT
1  01002    ABERGEMENT DE VAREY
2  01004      AMBERIEU EN BUGEY
3  01005    AMBERIEUX EN DOMBES
4  01006                AMBLEON

In [37]:
df_elec_merge = pd.merge(df_electricity, df_com, how='left', on=['CODE'])

In [38]:
df_elec_merge.head()

,OPERATEUR,ANNEE,FILIERE,TYPE,CODE,CONSOA,PDLA,INDQUALA,CONSOI,PDLI,...,CONSOT,PDLT,INDQUALT,CONSOR,PDLR,INDQUALR,CONSONA,PDLNA,INDQUALNA,NOM
0,Régie délectricité de Roquebillière,2011,E,Commune,6103,20.0,5,1.0,1170.0,8,...,1316.00,102,1.0,4629.00,1134,1.0,770.00,47,1.0,NaN
1,Régie municipale délectricité dArignac,2011,E,Commune,9015,0.0,0,0.0,156.0,1,...,304.00,27,0.5,1980.00,413,0.5,178.00,19,0.5,NaN
2,Régie municipale délectricité de Saint-Quirc,2011,E,Commune,9076,13.0,2,0.5,0.0,0,...,24.44,10,0.5,507.74,107,0.5,7.97,1,0.5,NaN
3,Régie municipale délectricité de Dalou,2011,E,Commune,9104,0.0,0,0.0,0.0,0,...,7.00,5,1.0,1744.00,356,1.0,141.00,13,1.0,NaN
4,Régie municipale délectricité de lHospitalet...,2011,E,Commune,9139,0.0,0,0.0,0.0,0,...,419.00,35,1.0,276.00,88,1.0,239.00,27,1.0,NaN

In [39]:
df_elec_merge.isna().sum()

OPERATEUR     0
ANNEE         0
FILIERE       0
TYPE          0
CODE          0
CONSOA        0
PDLA          0
INDQUALA      0
CONSOI        0
PDLI          0
INDQUALI      0
CONSOT        0
PDLT          0
INDQUALT      0
CONSOR        0
PDLR          0
INDQUALR      0
CONSONA       0
PDLNA         0
INDQUALNA     0
NOM          62
dtype: int64

As we don't know the name for 62 communes, we will fill the value with 'NC'

In [40]:
# Fill null value with 'NC'
df_elec_merge.fillna('NC', inplace=True)

### Add departement code

In [41]:
df_elec_merge['dep_code']=df_elec_merge['CODE'].apply(lambda x: x[:2])

As there are some dep_code with a 3 numbers format, we will replace those values with their specific format

In [42]:
df_elec_merge['dep_code'][df_elec_merge['CODE'].str.startswith('97')]=df_elec_merge['CODE'].apply(lambda x: x[:3])

<ipython-input-42-68ef6fa75e35>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_elec_merge['dep_code'][df_elec_merge['CODE'].str.startswith('97')]=df_elec_merge['CODE'].apply(lambda x: x[:3])

### Add departement name

In [43]:
# Import the dataframe with the name corresponding to the code for each departement
df_dep=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/df_dep.csv', sep='/')

In [44]:
df_elec_merge1 = pd.merge(df_elec_merge, df_dep, how='left', on=['dep_code'])

In [45]:
df_elec_merge1.isna().sum()

OPERATEUR    0
ANNEE        0
FILIERE      0
TYPE         0
CODE         0
CONSOA       0
PDLA         0
INDQUALA     0
CONSOI       0
PDLI         0
INDQUALI     0
CONSOT       0
PDLT         0
INDQUALT     0
CONSOR       0
PDLR         0
INDQUALR     0
CONSONA      0
PDLNA        0
INDQUALNA    0
NOM          0
dep_code     0
dep_name     0
dtype: int64

## Columns manipulation

In order to manipulate our dataframe later, we will rename the columns

In [46]:
df_elec_merge1.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'TYPE', 'CODE', 'CONSOA', 'PDLA',
       'INDQUALA', 'CONSOI', 'PDLI', 'INDQUALI', 'CONSOT', 'PDLT', 'INDQUALT',
       'CONSOR', 'PDLR', 'INDQUALR', 'CONSONA', 'PDLNA', 'INDQUALNA', 'NOM',
       'dep_code', 'dep_name'],
      dtype='object')

In [47]:
df_elec_merge1.columns=['operator','year','energy','area','com_code','consoa','pdla','indquala','consoi','pdli','indquali','consot','pdlt','indqualt','consor','pdlr','indqualr','consona','pdlna','indqualna','com_name','dep_code','dep_name']

In [48]:
df_elec_merge1.head()

,operator,year,energy,area,com_code,consoa,pdla,indquala,consoi,pdli,...,indqualt,consor,pdlr,indqualr,consona,pdlna,indqualna,com_name,dep_code,dep_name
0,Régie délectricité de Roquebillière,2011,E,Commune,6103,20.0,5,1.0,1170.0,8,...,1.0,4629.00,1134,1.0,770.00,47,1.0,NC,61,ORNE
1,Régie municipale délectricité dArignac,2011,E,Commune,9015,0.0,0,0.0,156.0,1,...,0.5,1980.00,413,0.5,178.00,19,0.5,NC,90,TERRITOIRE DE BELFORT
2,Régie municipale délectricité de Saint-Quirc,2011,E,Commune,9076,13.0,2,0.5,0.0,0,...,0.5,507.74,107,0.5,7.97,1,0.5,NC,90,TERRITOIRE DE BELFORT
3,Régie municipale délectricité de Dalou,2011,E,Commune,9104,0.0,0,0.0,0.0,0,...,1.0,1744.00,356,1.0,141.00,13,1.0,NC,91,ESSONNE
4,Régie municipale délectricité de lHospitalet...,2011,E,Commune,9139,0.0,0,0.0,0.0,0,...,1.0,276.00,88,1.0,239.00,27,1.0,NC,91,ESSONNE

As the column area only correponds to commune value, we will drop the column

In [49]:
# Drop area column
df_elec_merge1.drop('area', axis=1, inplace=True)

In [50]:
df_elec_merge1.columns

Index(['operator', 'year', 'energy', 'com_code', 'consoa', 'pdla', 'indquala',
       'consoi', 'pdli', 'indquali', 'consot', 'pdlt', 'indqualt', 'consor',
       'pdlr', 'indqualr', 'consona', 'pdlna', 'indqualna', 'com_name',
       'dep_code', 'dep_name'],
      dtype='object')

In [51]:
# Reorder the column
df_elec_clean=df_elec_merge1[['energy','year', 'dep_code','dep_name','com_code','com_name','operator','consoa', 'pdla', 'indquala',
       'consoi', 'pdli', 'indquali', 'consot', 'pdlt', 'indqualt', 'consor',
       'pdlr', 'indqualr', 'consona', 'pdlna', 'indqualna']]

In [52]:
df_elec_clean.head()

,energy,year,dep_code,dep_name,com_code,com_name,operator,consoa,pdla,indquala,...,indquali,consot,pdlt,indqualt,consor,pdlr,indqualr,consona,pdlna,indqualna
0,E,2011,61,ORNE,6103,NC,Régie délectricité de Roquebillière,20.0,5,1.0,...,1.0,1316.00,102,1.0,4629.00,1134,1.0,770.00,47,1.0
1,E,2011,90,TERRITOIRE DE BELFORT,9015,NC,Régie municipale délectricité dArignac,0.0,0,0.0,...,1.0,304.00,27,0.5,1980.00,413,0.5,178.00,19,0.5
2,E,2011,90,TERRITOIRE DE BELFORT,9076,NC,Régie municipale délectricité de Saint-Quirc,13.0,2,0.5,...,0.0,24.44,10,0.5,507.74,107,0.5,7.97,1,0.5
3,E,2011,91,ESSONNE,9104,NC,Régie municipale délectricité de Dalou,0.0,0,0.0,...,0.0,7.00,5,1.0,1744.00,356,1.0,141.00,13,1.0
4,E,2011,91,ESSONNE,9139,NC,Régie municipale délectricité de lHospitalet...,0.0,0,0.0,...,0.0,419.00,35,1.0,276.00,88,1.0,239.00,27,1.0

## CONSOR and PDLR

From the data presentation file, we know that some value of CONSOR and PDLR are -99 for very small area. We will replace the value -99 by 0

In [53]:
df_elec_clean.loc[df_elec_clean['consor']==-99]

,energy,year,dep_code,dep_name,com_code,com_name,operator,consoa,pdla,indquala,...,indquali,consot,pdlt,indqualt,consor,pdlr,indqualr,consona,pdlna,indqualna
660,E,2012,67,BAS-RHIN,67198,HINSBOURG,Electricité de Strasbourg,0.0,0,1.0,...,1.0,30.99,2,1.0,-99.0,-99,0.998,0.0,0,1.0
672,E,2012,67,BAS-RHIN,67273,LOHR,Electricité de Strasbourg,0.0,0,1.0,...,1.0,0.00,0,1.0,-99.0,-99,0.998,0.0,0,1.0
1326,E,2013,57,MOSELLE,57163,DABO,Electricité de Strasbourg,0.0,0,1.0,...,1.0,0.00,0,1.0,-99.0,-99,0.998,0.0,0,1.0
1492,E,2013,67,BAS-RHIN,67225,ISSENHAUSEN,Electricité de Strasbourg,0.0,0,1.0,...,1.0,0.00,0,1.0,-99.0,-99,0.998,0.0,0,1.0
1530,E,2013,67,BAS-RHIN,67273,LOHR,Electricité de Strasbourg,0.0,0,1.0,...,1.0,0.00,0,1.0,-99.0,-99,0.998,0.0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10571,E,2017,78,YVELINES,78048,BAZAINVILLE,SICAE dEure-et-Loir et des Yvelines,0.0,0,1.0,...,1.0,0.00,0,1.0,-99.0,-99,1.000,0.0,0,1.0
10579,E,2017,78,YVELINES,78285,GRESSEY,SICAE dEure-et-Loir et des Yvelines,0.0,0,1.0,...,1.0,0.00,0,1.0,-99.0,-99,1.000,0.0,0,1.0
10599,E,2017,80,SOMME,80027,ARMANCOURT,SICAE de la Somme et du Cambraisis,0.0,0,1.0,...,1.0,0.00,0,1.0,-99.0,-99,0.610,0.0,0,0.0
10658,E,2017,80,SOMME,80284,ESMERY HALLON,SER des cantons de Lassigny et Limitrophes,27.0,1,1.0,...,0.0,0.00,0,0.0,-99.0,-99,1.000,0.0,0,0.0
10698,E,2017,80,SOMME,80433,HERLY,SICAE de la Somme et du Cambraisis,0.0,0,1.0,...,1.0,0.00,0,1.0,-99.0,-99,0.680,0.0,0,0.0

In [54]:
df_elec_clean['consor']=np.where(df_elec_clean['consor']==-99, 0, df_elec_clean['consor'])

In [55]:
df_elec_clean['pdlr']=np.where(df_elec_clean['pdlr']==-99, 0, df_elec_clean['consor'])

# Dataframe manipulation

We will first create dataframes to identify the total year consumptions per sector, year (without operator information)

## Energy consumption per year and sector dataframe

In [56]:
# Create a copy of the original df
df_econso=df_elec_clean.copy()

In [57]:
df_econso.columns

Index(['energy', 'year', 'dep_code', 'dep_name', 'com_code', 'com_name',
       'operator', 'consoa', 'pdla', 'indquala', 'consoi', 'pdli', 'indquali',
       'consot', 'pdlt', 'indqualt', 'consor', 'pdlr', 'indqualr', 'consona',
       'pdlna', 'indqualna'],
      dtype='object')

As we don't care about the operator information in this dataframe, we will drop this column

In [58]:
df_econso.drop('operator', axis=1, inplace=True)

As the colums starting with INDQUAL corresponds to a percentage for each operator and we don't want to have information about the operator, we will drop those columns

In [59]:
df_econso.drop(['indquala','indquali','indqualt','indqualr','indqualna'], axis=1, inplace=True)

### Commune level

We group by year, per commune and aggregate by the sum of consumption

In [60]:
df_econso_com=df_econso.groupby(['year','dep_code','dep_name','com_code','com_name']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [61]:
df_econso_com.head()

,year,dep_code,dep_name,com_code,com_name,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,2011,11,AUDE,11304,QUILLAN,0.0,0,3796.65,13,1895.12,25,12195.27,12195.27,0.00,0
1,2011,31,HAUTE-GARONNE,31135,CAZERES,0.0,0,0.00,0,0.00,0,13497.00,13497.00,7925.00,417
2,2011,31,HAUTE-GARONNE,31324,MARTRES TOLOSANE,0.0,0,0.00,0,0.00,0,6140.00,6140.00,3755.00,210
3,2011,31,HAUTE-GARONNE,31344,MIRAMONT DE COMMINGES,0.0,0,0.00,0,0.00,0,2490.00,2490.00,0.00,0
4,2011,33,GIRONDE,33352,REOLE,17.3,2,1652.17,27,2095.92,112,4735.83,4735.83,23.05,5

In [62]:
# Export the df in csv
df_econso_com.to_csv('df_econso_com.to_csv', sep='/', index=False)

### Department level

We group by year, per department and aggregate by the sum of consumption

In [63]:
df_econso_dep=df_econso.groupby(['year','dep_code','dep_name']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [64]:
df_econso_dep.head()

,year,dep_code,dep_name,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,2011,11,AUDE,0.00,0,3796.65,13,1895.12,25,12195.27,12195.27,0.00,0
1,2011,31,HAUTE-GARONNE,0.00,0,0.00,0,0.00,0,22127.00,22127.00,11680.00,627
2,2011,33,GIRONDE,17.30,2,1652.17,27,2095.92,112,4735.83,4735.83,23.05,5
3,2011,34,HÉRAULT,1414.68,22,18784.01,72,66505.25,420,271952.67,271952.67,1393.39,83
4,2011,38,ISÈRE,0.00,0,27698.00,20,47855.00,1950,85835.00,85835.00,0.00,0

In [65]:
# Export the df in csv
df_econso_dep.to_csv('df_econso_dep.to_csv', sep='/', index=False)