In [25]:
import pandas as pd

In [26]:
df=pd.read_csv('/Users/Jeff/Downloads/donnees-electricite-2008a2017 (1)/donnees_elec_2017.csv', encoding = "ISO-8859-1", sep=';')

In [27]:
df.head()

,OPERATEUR,ANNEE,FILIERE,TYPE,CODE,CONSOA,PDLA,INDQUALA,CONSOI,PDLI,...,PDLT,INDQUALT,CONSOR,PDLR,INDQUALR,THERMOR,PARTR,CONSONA,PDLNA,INDQUALNA
0,SRD,2017,E,Region,24,"0,00",0,"0,900000","0,00",0,...,0,"0,900000","62,37",11,"0,500000","0,00","0,00","0,00",0,"0,500000"
1,SRD,2017,E,Region,75,"0,00",0,"0,900000","0,00",0,...,0,"0,900000","454,22",88,"0,500000","0,00","0,00","0,00",0,"0,500000"
2,GEREDIS Deux-Sèvres,2017,E,InterCom,200040244,"0,00",0,"0,000000","0,00",0,...,0,"0,000000","63,53",11,"0,950000","0,00","0,00","0,00",0,"0,000000"
3,GEREDIS Deux-Sèvres,2017,E,InterCom,200041317,"0,00",0,"0,000000","0,00",0,...,0,"0,000000","199,13",28,"0,950000","0,00","0,00","0,00",0,"0,000000"
4,GEREDIS Deux-Sèvres,2017,E,InterCom,200041333,"0,00",0,"0,000000","0,00",0,...,0,"0,000000","-99,00",-99,"-99,0000","0,00","0,00","0,00",0,"0,000000"

In [28]:
df[['CONSOA', 'CONSOI', 'CONSOR', 'CONSOT', 'CONSONA']]=df[['CONSOA', 'CONSOI', 'CONSOR', 'CONSOT', 'CONSONA']].apply(lambda x: x.str.replace(',','.'))

In [29]:
df[['CONSOA', 'CONSOI', 'CONSOR', 'CONSOT', 'CONSONA']]=df[['CONSOA', 'CONSOI', 'CONSOR', 'CONSOT', 'CONSONA']].apply(pd.to_numeric)

In [32]:
df['CONSOA'][df['TYPE']=='Commune'].sum() + df['CONSOI'][df['TYPE']=='Commune'].sum() + df['CONSOT'][df['TYPE']=='Commune'].sum() + df['CONSOR'][df['TYPE']=='Commune'].sum()

14765201.59

In [33]:
df['CONSOI'][df['TYPE']=='Commune'].sum()

2660850.77