# Import librairies

In [1]:
import pandas as pd
import numpy as np

# Get the data

We will first create dataframes for each year and then concatenate all years dataframes

We know from the presentation data file, that the data are very low before 2010, so we will extract only dataframes from year 2010

In [2]:
df_2010=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Gaz/Data new/donnees_gaz_2010.csv', encoding = "ISO-8859-1", sep=';')

In [3]:
df_2010.shape

(24712, 20)

In [4]:
df_2011=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Gaz/Data new/donnees_gaz_2011.csv', encoding = "ISO-8859-1", sep=';')

In [5]:
df_2011.shape

(24741, 20)

In [6]:
df_2012=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Gaz/Data new/donnees_gaz_2012.csv', encoding = "ISO-8859-1", sep=';')

In [7]:
df_2012.shape

(24763, 20)

In [8]:
df_2013=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Gaz/Data new/donnees_gaz_2013.csv', encoding = "ISO-8859-1", sep=';')

In [9]:
df_2013.shape

(24895, 20)

In [10]:
df_2014=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Gaz/Data new/donnees_gaz_2014.csv', encoding = "ISO-8859-1", sep=';')

In [11]:
df_2014.shape

(24906, 20)

In [12]:
df_2015=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Gaz/Data new/donnees_gaz_2015.csv', encoding = "ISO-8859-1", sep=';')

In [13]:
df_2015.shape

(25853, 20)

In [14]:
df_2016=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Gaz/Data new/donnees_gaz_2016.csv', encoding = "ISO-8859-1", sep=';')

In [15]:
df_2016.shape

(25907, 20)

In [16]:
df_2017=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Gaz/Data new/donnees_gaz_2017.csv', encoding = "ISO-8859-1", sep=';')

In [17]:
df_2017.shape

(26386, 22)

In [18]:
frames=[df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017]

In [19]:
# Create the concatenate dataframe
df_gaz1=pd.concat(frames)

In [20]:
df_gaz1.shape

(202163, 22)

In [21]:
# Save the dataframe as a csv
df_gaz1.to_csv('df_gaz.csv', sep='/', index=False)

# Data cleaning

## Missing values

In [22]:
df_gaz1.isna().sum()

OPERATEUR         0
ANNEE             0
FILIERE           0
TYPE              0
CODE              0
CONSOA            0
PDLA              0
INDQUALA          0
CONSOI            0
PDLI              0
INDQUALI          0
CONSOT            0
PDLT              0
INDQUALT          0
CONSOR           57
PDLR             57
INDQUALR        117
CONSONA           0
PDLNA             0
INDQUALNA         0
THERMOR      175783
PARTR        175783
dtype: int64

**FILIERE**

We know that the column filiere corresponds to gaz, so we will fill missing value with letter G

In [23]:
df_gaz1.FILIERE.value_counts()

G    202163
Name: FILIERE, dtype: int64

In [24]:
df_gaz1.FILIERE=df_gaz1.FILIERE.fillna('G')

In [25]:
df_gaz1.FILIERE.isna().sum()

0

**FILIERE (2), THERMOR, PARTR**

As the majority of those columns are missing values, we will drop them

In [26]:
df_gaz1.drop(df_gaz1.columns[20], axis=1, inplace=True)
df_gaz1.drop('PARTR', axis=1, inplace=True)

**CONSOR, PDLR, INDQUALR**

We will drop the rows with missing values

In [27]:
df_gaz1.dropna(inplace=True)

In [28]:
df_gaz1.isna().sum()

OPERATEUR    0
ANNEE        0
FILIERE      0
TYPE         0
CODE         0
CONSOA       0
PDLA         0
INDQUALA     0
CONSOI       0
PDLI         0
INDQUALI     0
CONSOT       0
PDLT         0
INDQUALT     0
CONSOR       0
PDLR         0
INDQUALR     0
CONSONA      0
PDLNA        0
INDQUALNA    0
dtype: int64

In [29]:
df_gaz1.shape

(202046, 20)

In [30]:
# Reset the index because index wasn't unique
df_gaz1.reset_index(inplace=True, drop=True)

No more missing values

## Data level

In [31]:
df_gaz1['TYPE'].value_counts()

IRIS        197771
InterCom      2362
Commune       1844
Region          69
Name: TYPE, dtype: int64

As we can see, there are several type of area. In order to do our analysis we will only keep the value by commune

In [32]:
df_gaz=df_gaz1.drop(df_gaz1[df_gaz1['TYPE'] != 'Commune' ].index)

In [33]:
df_gaz['TYPE'].value_counts()

Commune    1844
Name: TYPE, dtype: int64

We will also create a new dataframe containing the value by region

In [34]:
df_gaz_region=df_gaz1.loc[df_gaz1['TYPE']=='Region']

In [35]:
df_gaz_region.TYPE.value_counts()

Region    69
Name: TYPE, dtype: int64

In [36]:
df_gaz_region.CODE.value_counts()

75    11
24    11
44    11
52     6
84     5
11     3
93     3
53     3
76     3
27     3
28     3
32     3
44     2
75     2
Name: CODE, dtype: int64

## Data types

In [37]:
df_gaz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1844 entries, 5155 to 198492
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OPERATEUR  1844 non-null   object
 1   ANNEE      1844 non-null   int64
 2   FILIERE    1844 non-null   object
 3   TYPE       1844 non-null   object
 4   CODE       1844 non-null   object
 5   CONSOA     1844 non-null   object
 6   PDLA       1844 non-null   int64
 7   INDQUALA   1844 non-null   object
 8   CONSOI     1844 non-null   object
 9   PDLI       1844 non-null   int64
 10  INDQUALI   1844 non-null   object
 11  CONSOT     1844 non-null   object
 12  PDLT       1844 non-null   int64
 13  INDQUALT   1844 non-null   object
 14  CONSOR     1844 non-null   object
 15  PDLR       1844 non-null   float64
 16  INDQUALR   1844 non-null   object
 17  CONSONA    1844 non-null   object
 18  PDLNA      1844 non-null   int64
 19  INDQUALNA  1844 non-null   object
dtypes: float64(1), int64(5), object(14)
memory usage: 302.5+ KB

As we can see some numerical have object type, we will transform the data type of those columns

In [38]:
df_gaz[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']]=df_gaz[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']].apply(lambda x: x.str.replace(',','.'))

In [39]:
df_gaz[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']] = df_gaz[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']].apply(pd.to_numeric)

In [40]:
df_gaz['CODE'].unique()

array([33012, 33022, 33032, 33039, 33056, 33010, 33063, 33069, 33075,
       33090, 33091, 33096, 33104, 33119, 33146, 33162, 33167, 33187,
       33192, 33200, 33211, 33214, 33220, 33248, 33249, 33256, 33262,
       33268, 33273, 33281, 33294, 33297, 33312, 33314, 33318, 33322,
       33352, 33376, 33397, 33417, 33422, 33423, 33424, 33449, 33494,
       33517, 33519, 33522, 33550, 38478, 38547, 40001, 68038, 68066,
       68095, 68143, 68145, 68146, 68155, 68227, 68237, 68338, 68365,
       68366, 68374, 80620, 81033, 81060, 81068, 81170, 81230, 81244,
       81291, 32072, 40101, 40186, 40233, 81116, 81140, 32027, 33036,
       33046, 33087, 33391, 67008, 67010, 67016, 67020, 67021, 67028,
       67043, 67045, 67049, 67052, 67060, 67065, 67066, 67067, 67080,
       67097, 67098, 67101, 67106, 67108, 67112, 67118, 67119, 67120,
       67124, 67128, 67130, 67131, 67137, 67150, 67151, 67152, 67155,
       67156, 67164, 67168, 67169, 67173, 67181, 67182, 67189, 67194,
       67197, 67200, 67204, 67205, 67212, 67214, 67216, 67217, 67218,
       67226, 67233, 67237, 67240, 67247, 67248, 67252, 67256, 67267,
       67268, 67276, 67282, 67285, 67286, 67295, 67296, 67300, 67301,
       67306, 67309, 67313, 67326, 67329, 67336, 67343, 67348, 67350,
       67354, 67356, 67364, 67365, 67368, 67375, 67378, 67382, 67389,
       67407, 67411, 67414, 67420, 67429, 67433, 67438, 67447, 67448,
       67471, 67473, 67480, 67481, 67001, 67482, 67485, 67495, 67500,
       67504, 67506, 67519, 67520, 67523, 67529, 67543, 67548, 67551,
       67577, 74006, 74245, 80031, 80430, 80507, 80652, 80814, 40132,
       67100, 67517, 67526, '22197', '27423', '27543', '28014', '28041',
       '28076', '28082', '28098', '28117', '28118', '28134', '28136',
       '28154', '28155', '28170', '28171', '28178', '28223', '28251',
       '28267', '28292', '28324', '28332', '28369', '28394', '28403',
       '28404', '28405', '32027', '33010', '33012', '33022', '33032',
       '33036', '33039', '33046', '33056', '33063', '33069', '33075',
       '33087', '33090', '33091', '33096', '33104', '33119', '33146',
       '33162', '33167', '33187', '33192', '33200', '33211', '33214',
       '33220', '33248', '33249', '33256', '33262', '33268', '33273',
       '33281', '33294', '33297', '33312', '33314', '33318', '33322',
       '33352', '33376', '33391', '33397', '33417', '33422', '33423',
       '33424', '33449', '33494', '33517', '33519', '33522', '33550',
       '36045', '37002', '37014', '37052', '37081', '37089', '37110',
       '37111', '37140', '37150', '37157', '37171', '37173', '37174',
       '37177', '37182', '37188', '37193', '37194', '37196', '37201',
       '37204', '37210', '37216', '37231', '37237', '37247', '37249',
       '37257', '37277', '38029', '38030', '38082', '38162', '38165',
       '38185', '38194', '38261', '38297', '38357', '38478', '38494',
       '38515', '38547', '40001', '40101', '40132', '40186', '40233',
       '49006', '49007', '49023', '49027', '49063', '49125', '49145',
       '49162', '49165', '49212', '49239', '49244', '49276', '49285',
       '49313', '49518', '57606', '65258', '67001', '67008', '67010',
       '67016', '67020', '67021', '67028', '67038', '67043', '67045',
       '67049', '67052', '67060', '67065', '67066', '67067', '67080',
       '67085', '67097', '67098', '67100', '67101', '67106', '67108',
       '67112', '67118', '67119', '67120', '67124', '67128', '67130',
       '67131', '67137', '67150', '67151', '67152', '67155', '67156',
       '67164', '67168', '67169', '67172', '67173', '67181', '67182',
       '67189', '67194', '67197', '67200', '67204', '67205', '67209',
       '67212', '67214', '67216', '67217', '67218', '67226', '67233',
       '67237', '67240', '67247', '67248', '67252', '67256', '67267',
       '67268', '67276', '67282', '67285', '67286', '67295', '67296',
       '67300', '67301', '67306', '67309', '67313', '67326', '67329',
       '67336', '67343', '67348', '67350', '67354', '67356', '67364',
       '67365', '67368', '67375', '67378', '67382', '67389', '67407',
       '67411', '67414', '67420', '67429', '67433', '67438', '67442',
       '67447', '67448', '67471', '67473', '67480', '67481', '67482',
       '67485', '67492', '67495', '67500', '67504', '67506', '67517',
       '67519', '67520', '67523', '67526', '67529', '67539', '67543',
       '67548', '67551', '67577', '68029', '68030', '68038', '68043',
       '68058', '68066', '68088', '68095', '68112', '68122', '68126',
       '68143', '68145', '68146', '68149', '68155', '68156', '68159',
       '68177', '68178', '68203', '68227', '68237', '68250', '68251',
       '68260', '68297', '68315', '68318', '68338', '68349', '68364',
       '68365', '68366', '68374', '68381', '74006', '74245', '80031',
       '80430', '80507', '80620', '80652', '80814', '81033', '81060',
       '81068', '81116', '81140', '81170', '81230', '81244', '81291',
       '85002', '85008', '85014', '85016', '85043', '85045', '85069',
       '85118', '85120', '85152', '85153', '85154', '85160', '85161',
       '85213', '85219', '85231', '85243', '85268', '85300', '86001',
       '86006', '86007', '86010', '86014', '86015', '86016', '86019',
       '86024', '86026', '86027', '86028', '86031', '86032', '86038',
       '86039', '86041', '86047', '86050', '86053', '86055', '86056',
       '86058', '86060', '86061', '86063', '86065', '86068', '86071',
       '86072', '86074', '86075', '86076', '86077', '86078', '86082',
       '86083', '86084', '86086', '86088', '86089', '86094', '86099',
       '86100', '86103', '86112', '86113', '86114', '86116', '86120',
       '86121', '86123', '86125', '86126', '86128', '86138', '86139',
       '86140', '86141', '86142', '86145', '86147', '86149', '86153',
       '86154', '86157', '86160', '86161', '86163', '86164', '86166',
       '86167', '86171', '86178', '86180', '86181', '86186', '86187',
       '86188', '86190', '86198', '86204', '86208', '86209', '86212',
       '86213', '86219', '86223', '86224', '86225', '86226', '86233',
       '86234', '86235', '86244', '86245', '86246', '86248', '86250',
       '86252', '86253', '86254', '86255', '86256', '86259', '86261',
       '86263', '86268', '86273', '86274', '86276', '86277', '86278',
       '86279', '86281', '86285', '86290', '86292', '86293', '86294',
       '86297', '86299', '86300', '37051', '37059', '37118', '37129',
       '37143', '37178', '49218', '49301', '57506', '67018', '67030',
       '67033', '67034', '67039', '67081', '67139', '67557', '74042',
       '74256', '82130', '86170', '37251', '37279', '68205', '74282'],
      dtype=object)

As we can see, some of the values in the column are string and others are number, we will convert all the values as string

In [41]:
df_gaz['CODE']=df_gaz['CODE'].apply(str)

In [42]:
df_gaz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1844 entries, 5155 to 198492
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OPERATEUR  1844 non-null   object
 1   ANNEE      1844 non-null   int64
 2   FILIERE    1844 non-null   object
 3   TYPE       1844 non-null   object
 4   CODE       1844 non-null   object
 5   CONSOA     1844 non-null   float64
 6   PDLA       1844 non-null   int64
 7   INDQUALA   1844 non-null   float64
 8   CONSOI     1844 non-null   float64
 9   PDLI       1844 non-null   int64
 10  INDQUALI   1844 non-null   float64
 11  CONSOT     1844 non-null   float64
 12  PDLT       1844 non-null   int64
 13  INDQUALT   1844 non-null   float64
 14  CONSOR     1844 non-null   float64
 15  PDLR       1844 non-null   float64
 16  INDQUALR   1844 non-null   float64
 17  CONSONA    1844 non-null   float64
 18  PDLNA      1844 non-null   int64
 19  INDQUALNA  1844 non-null   float64
dtypes: float64(11), int64(5), object(4)
memory usage: 302.5+ KB

## Commune name, departement code and name

### Add Commune name

Now that we only have information per commune, we will add the name of the commune

In [43]:
# Import the dataframe with the name corresponding to the code for each commune
df_com=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Area/df_com.csv', sep='/')

In [44]:
df_com.head()

    CODE  REG                    NOM
0  01001   84  ABERGEMENT CLEMENCIAT
1  01002   84    ABERGEMENT DE VAREY
2  01004   84      AMBERIEU EN BUGEY
3  01005   84    AMBERIEUX EN DOMBES
4  01006   84                AMBLEON

In [45]:
df_gaz_merge = pd.merge(df_gaz, df_com, how='left', on=['CODE'])

In [46]:
df_gaz_merge.head()

,OPERATEUR,ANNEE,FILIERE,TYPE,CODE,CONSOA,PDLA,INDQUALA,CONSOI,PDLI,...,PDLT,INDQUALT,CONSOR,PDLR,INDQUALR,CONSONA,PDLNA,INDQUALNA,REG,NOM
0,REGAZ Bordeaux,2010,G,Commune,33012,1100.12,5,0.962,540.61,5,...,15,0.962,10825.67,586.0,0.960,0.0,0,0.00,75.0,ARSAC
1,REGAZ Bordeaux,2010,G,Commune,33022,0.00,0,0.000,9.90,1,...,9,0.961,6163.68,320.0,0.959,0.0,0,0.00,75.0,AVENSAN
2,REGAZ Bordeaux,2010,G,Commune,33032,0.00,0,0.000,26565.24,23,...,44,0.962,23888.00,1664.0,0.960,0.0,0,0.00,75.0,BASSENS
3,REGAZ Bordeaux,2010,G,Commune,33039,228.37,2,0.960,14683.27,39,...,289,0.960,10962.37,8393.0,0.959,0.0,0,0.00,75.0,BEGLES
4,REGAZ Bordeaux,2010,G,Commune,33056,60.67,1,0.960,27600.85,47,...,158,0.961,47135.78,3117.0,0.960,204.6,1,0.97,75.0,BLANQUEFORT

In [47]:
df_gaz_merge.isna().sum()

OPERATEUR    0
ANNEE        0
FILIERE      0
TYPE         0
CODE         0
CONSOA       0
PDLA         0
INDQUALA     0
CONSOI       0
PDLI         0
INDQUALI     0
CONSOT       0
PDLT         0
INDQUALT     0
CONSOR       0
PDLR         0
INDQUALR     0
CONSONA      0
PDLNA        0
INDQUALNA    0
REG          4
NOM          4
dtype: int64

As we don't know the name for 4 communes, we will fill the value with 'NC' and 0

In [48]:
# Fill null value with 'NC' and 0
df_gaz_merge['NOM'].fillna('NC', inplace=True)
df_gaz_merge['REG'].fillna('NC', inplace=True)

### Add departement code

In [49]:
df_gaz_merge['dep_code']=df_gaz_merge['CODE'].apply(lambda x: x[:2])

In [50]:
df_gaz_merge.head()

,OPERATEUR,ANNEE,FILIERE,TYPE,CODE,CONSOA,PDLA,INDQUALA,CONSOI,PDLI,...,INDQUALT,CONSOR,PDLR,INDQUALR,CONSONA,PDLNA,INDQUALNA,REG,NOM,dep_code
0,REGAZ Bordeaux,2010,G,Commune,33012,1100.12,5,0.962,540.61,5,...,0.962,10825.67,586.0,0.960,0.0,0,0.00,75,ARSAC,33
1,REGAZ Bordeaux,2010,G,Commune,33022,0.00,0,0.000,9.90,1,...,0.961,6163.68,320.0,0.959,0.0,0,0.00,75,AVENSAN,33
2,REGAZ Bordeaux,2010,G,Commune,33032,0.00,0,0.000,26565.24,23,...,0.962,23888.00,1664.0,0.960,0.0,0,0.00,75,BASSENS,33
3,REGAZ Bordeaux,2010,G,Commune,33039,228.37,2,0.960,14683.27,39,...,0.960,10962.37,8393.0,0.959,0.0,0,0.00,75,BEGLES,33
4,REGAZ Bordeaux,2010,G,Commune,33056,60.67,1,0.960,27600.85,47,...,0.961,47135.78,3117.0,0.960,204.6,1,0.97,75,BLANQUEFORT,33

### Add departement name

In [51]:
# Import the dataframe with the name corresponding to the code for each departement
df_dep=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Area/df_dep.csv', sep='/')

In [52]:
df_dep.head()

  dep_code                 dep_name
0       02                    AISNE
1       03                   ALLIER
2       05             HAUTES-ALPES
3       04  ALPES-DE-HAUTE-PROVENCE
4       06          ALPES-MARITIMES

In [53]:
df_gaz_merge1 = pd.merge(df_gaz_merge, df_dep, how='left', on=['dep_code'])

In [54]:
df_gaz_merge1.isna().sum()

OPERATEUR    0
ANNEE        0
FILIERE      0
TYPE         0
CODE         0
CONSOA       0
PDLA         0
INDQUALA     0
CONSOI       0
PDLI         0
INDQUALI     0
CONSOT       0
PDLT         0
INDQUALT     0
CONSOR       0
PDLR         0
INDQUALR     0
CONSONA      0
PDLNA        0
INDQUALNA    0
REG          0
NOM          0
dep_code     0
dep_name     0
dtype: int64

In [55]:
df_gaz_merge1

,OPERATEUR,ANNEE,FILIERE,TYPE,CODE,CONSOA,PDLA,INDQUALA,CONSOI,PDLI,...,CONSOR,PDLR,INDQUALR,CONSONA,PDLNA,INDQUALNA,REG,NOM,dep_code,dep_name
0,REGAZ Bordeaux,2010,G,Commune,33012,1100.12,5,0.962,540.61,5,...,10825.67,586.0,0.960,0.00,0,0.00,75,ARSAC,33,GIRONDE
1,REGAZ Bordeaux,2010,G,Commune,33022,0.00,0,0.000,9.90,1,...,6163.68,320.0,0.959,0.00,0,0.00,75,AVENSAN,33,GIRONDE
2,REGAZ Bordeaux,2010,G,Commune,33032,0.00,0,0.000,26565.24,23,...,23888.00,1664.0,0.960,0.00,0,0.00,75,BASSENS,33,GIRONDE
3,REGAZ Bordeaux,2010,G,Commune,33039,228.37,2,0.960,14683.27,39,...,10962.37,8393.0,0.959,0.00,0,0.00,75,BEGLES,33,GIRONDE
4,REGAZ Bordeaux,2010,G,Commune,33056,60.67,1,0.960,27600.85,47,...,47135.78,3117.0,0.960,204.60,1,0.97,75,BLANQUEFORT,33,GIRONDE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1839,SOREGIES,2017,G,Commune,86293,0.00,0,0.000,0.00,0,...,3693.26,229.0,1.000,7146.91,6,1.00,75,VIVONNE,86,VIENNE
1840,SOREGIES,2017,G,Commune,86294,0.00,0,0.000,0.00,0,...,6160.94,392.0,1.000,445.00,1,1.00,75,VOUILLE,86,VIENNE
1841,SOREGIES,2017,G,Commune,86297,0.00,0,0.000,0.00,0,...,11925.90,905.0,1.000,859.35,1,1.00,75,VOUNEUIL SOUS BIARD,86,VIENNE
1842,SOREGIES,2017,G,Commune,86299,0.00,0,0.000,0.00,0,...,151.31,14.0,1.000,0.00,0,1.00,75,VOUZAILLES,86,VIENNE
1843,SOREGIES,2017,G,Commune,86300,0.00,0,0.000,0.00,0,...,111.28,15.0,1.000,0.00,0,1.00,75,YVERSAY,86,VIENNE

## Column manipulation

In order to manipulate our dataframe later, we will rename the columns

In [56]:
df_gaz_merge1.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'TYPE', 'CODE', 'CONSOA', 'PDLA',
       'INDQUALA', 'CONSOI', 'PDLI', 'INDQUALI', 'CONSOT', 'PDLT', 'INDQUALT',
       'CONSOR', 'PDLR', 'INDQUALR', 'CONSONA', 'PDLNA', 'INDQUALNA', 'REG',
       'NOM', 'dep_code', 'dep_name'],
      dtype='object')

In [57]:
df_gaz_merge1.columns=['operator','year','energy','area','com_code','consoa','pdla','indquala','consoi','pdli','indquali','consot','pdlt','indqualt','consor','pdlr','indqualr','consona','pdlna','indqualna','reg_code','com_name','dep_code','dep_name']

In [58]:
df_gaz_merge1.head()

,operator,year,energy,area,com_code,consoa,pdla,indquala,consoi,pdli,...,consor,pdlr,indqualr,consona,pdlna,indqualna,reg_code,com_name,dep_code,dep_name
0,REGAZ Bordeaux,2010,G,Commune,33012,1100.12,5,0.962,540.61,5,...,10825.67,586.0,0.960,0.0,0,0.00,75,ARSAC,33,GIRONDE
1,REGAZ Bordeaux,2010,G,Commune,33022,0.00,0,0.000,9.90,1,...,6163.68,320.0,0.959,0.0,0,0.00,75,AVENSAN,33,GIRONDE
2,REGAZ Bordeaux,2010,G,Commune,33032,0.00,0,0.000,26565.24,23,...,23888.00,1664.0,0.960,0.0,0,0.00,75,BASSENS,33,GIRONDE
3,REGAZ Bordeaux,2010,G,Commune,33039,228.37,2,0.960,14683.27,39,...,10962.37,8393.0,0.959,0.0,0,0.00,75,BEGLES,33,GIRONDE
4,REGAZ Bordeaux,2010,G,Commune,33056,60.67,1,0.960,27600.85,47,...,47135.78,3117.0,0.960,204.6,1,0.97,75,BLANQUEFORT,33,GIRONDE

As the column area only correponds to commune value, we will drop the column

In [59]:
# Drop area column
df_gaz_merge1.drop('area', axis=1, inplace=True)

In [60]:
df_gaz_merge1.columns

Index(['operator', 'year', 'energy', 'com_code', 'consoa', 'pdla', 'indquala',
       'consoi', 'pdli', 'indquali', 'consot', 'pdlt', 'indqualt', 'consor',
       'pdlr', 'indqualr', 'consona', 'pdlna', 'indqualna', 'reg_code',
       'com_name', 'dep_code', 'dep_name'],
      dtype='object')

In [61]:
# Reorder the column
df_gaz_clean=df_gaz_merge1[['energy','year','reg_code', 'dep_code','dep_name','com_code','com_name','operator','consoa', 'pdla', 'indquala',
       'consoi', 'pdli', 'indquali', 'consot', 'pdlt', 'indqualt', 'consor',
       'pdlr', 'indqualr', 'consona', 'pdlna', 'indqualna']]

In [62]:
df_gaz_clean.head()

,energy,year,reg_code,dep_code,dep_name,com_code,com_name,operator,consoa,pdla,...,indquali,consot,pdlt,indqualt,consor,pdlr,indqualr,consona,pdlna,indqualna
0,G,2010,75,33,GIRONDE,33012,ARSAC,REGAZ Bordeaux,1100.12,5,...,0.960,2150.82,15,0.962,10825.67,586.0,0.960,0.0,0,0.00
1,G,2010,75,33,GIRONDE,33022,AVENSAN,REGAZ Bordeaux,0.00,0,...,0.960,1144.67,9,0.961,6163.68,320.0,0.959,0.0,0,0.00
2,G,2010,75,33,GIRONDE,33032,BASSENS,REGAZ Bordeaux,0.00,0,...,0.962,72322.61,44,0.962,23888.00,1664.0,0.960,0.0,0,0.00
3,G,2010,75,33,GIRONDE,33039,BEGLES,REGAZ Bordeaux,228.37,2,...,0.963,37998.93,289,0.960,10962.37,8393.0,0.959,0.0,0,0.00
4,G,2010,75,33,GIRONDE,33056,BLANQUEFORT,REGAZ Bordeaux,60.67,1,...,0.961,29035.28,158,0.961,47135.78,3117.0,0.960,204.6,1,0.97

## CONSOR and PDLR

From the data presentation file, we know that some value of CONSOR and PDLR are -99 for very small area. We will replace the value -99 by 0

In [63]:
df_gaz_clean.loc[df_gaz_clean['consor']==-99]

,energy,year,reg_code,dep_code,dep_name,com_code,com_name,operator,consoa,pdla,...,indquali,consot,pdlt,indqualt,consor,pdlr,indqualr,consona,pdlna,indqualna
237,G,2013,75,33,GIRONDE,33087,CAMIRAN,Régie municipale multiservices de La Réole,0.00,0,...,0.0,0.00,0,0.0,-99.0,-99.0,0.80,0.0,0,0.0
259,G,2013,75,33,GIRONDE,33294,MORIZES,Régie municipale multiservices de La Réole,0.00,0,...,0.8,77.89,6,0.8,-99.0,-99.0,0.80,0.0,0,0.0
334,G,2013,44,67,BAS-RHIN,67217,ICHTRATZHEIM,Réseau GDS,0.00,0,...,0.0,0.00,0,0.0,-99.0,-99.0,0.50,0.0,0,0.0
337,G,2013,44,67,BAS-RHIN,67233,KERTZFELD,Réseau GDS,0.00,0,...,0.0,0.00,0,0.0,-99.0,-99.0,0.50,0.0,0,0.0
354,G,2013,44,67,BAS-RHIN,67306,MUHLBACH SUR BRUCHE,Réseau GDS,0.00,0,...,0.0,0.00,0,0.0,-99.0,-99.0,0.50,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1602,G,2017,24,28,EURE-ET-LOIR,28324,SAINT ARNOULT DES BOIS,Régie du syndicat électrique intercommunal du ...,0.00,0,...,0.0,0.00,0,0.0,-99.0,-99.0,0.71,0.0,0,0.0
1611,G,2017,75,33,GIRONDE,33087,CAMIRAN,Régie municipale multiservices de La Réole,0.00,0,...,0.0,0.00,0,0.0,-99.0,-99.0,0.80,0.0,0,0.0
1613,G,2017,75,33,GIRONDE,33294,MORIZES,Régie municipale multiservices de La Réole,90.26,1,...,0.8,76.22,6,0.8,-99.0,-99.0,0.80,0.0,0,0.0
1677,G,2017,44,67,BAS-RHIN,67085,DANGOLSHEIM,Gaz de Barr,0.00,0,...,0.0,0.00,0,0.5,-99.0,-99.0,0.50,0.0,0,0.0
1692,G,2017,44,67,BAS-RHIN,67411,ROSHEIM,Gaz de Barr,0.00,0,...,0.0,0.00,0,0.5,-99.0,-99.0,0.50,0.0,0,0.0

In [64]:
df_gaz_clean['consor']=np.where(df_gaz_clean['consor']==-99, 0, df_gaz_clean['consor'])

In [65]:
df_gaz_clean['pdlr']=np.where(df_gaz_clean['pdlr']==-99, 0, df_gaz_clean['consor'])

## Export clean data

In [66]:
df_gaz_clean.to_csv('df_gaz_clean.csv', sep='/', index=False)

# Dataframe manipulation

We will first create dataframes to identify the total year consumptions per sector, year (without operator information)

## Energy consumption per year and per sector

In [67]:
# Create a copy of the original df
df_gconso=df_gaz_clean.copy()

In [68]:
# See the gconso columns
df_gconso.columns

Index(['energy', 'year', 'reg_code', 'dep_code', 'dep_name', 'com_code',
       'com_name', 'operator', 'consoa', 'pdla', 'indquala', 'consoi', 'pdli',
       'indquali', 'consot', 'pdlt', 'indqualt', 'consor', 'pdlr', 'indqualr',
       'consona', 'pdlna', 'indqualna'],
      dtype='object')

As we don't care about the operator information in this dataframe, we will drop this column

In [69]:
# Drop OPERATEUR column
df_gconso.drop('operator', axis=1, inplace=True)

As the colums starting with INDQUAL corresponds to a percentage for each operator and we don't want to have information about the operator, we will drop those columns

In [70]:
# Drop columns correponding to percentage
df_gconso.drop(['indquala','indquali','indqualt','indqualr','indqualna'], axis=1, inplace=True)

In [71]:
df_gconso.head()

,energy,year,reg_code,dep_code,dep_name,com_code,com_name,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,G,2010,75,33,GIRONDE,33012,ARSAC,1100.12,5,540.61,5,2150.82,15,10825.67,10825.67,0.0,0
1,G,2010,75,33,GIRONDE,33022,AVENSAN,0.00,0,9.90,1,1144.67,9,6163.68,6163.68,0.0,0
2,G,2010,75,33,GIRONDE,33032,BASSENS,0.00,0,26565.24,23,72322.61,44,23888.00,23888.00,0.0,0
3,G,2010,75,33,GIRONDE,33039,BEGLES,228.37,2,14683.27,39,37998.93,289,10962.37,10962.37,0.0,0
4,G,2010,75,33,GIRONDE,33056,BLANQUEFORT,60.67,1,27600.85,47,29035.28,158,47135.78,47135.78,204.6,1

### Commune level

We group by year, per commune and aggregate by the sum of consumption

In [72]:
df_gconso_com=df_gconso.groupby(['energy','year','dep_code','dep_name','com_code','com_name']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [73]:
df_gconso_com.head()

,energy,year,dep_code,dep_name,com_code,com_name,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,G,2010,33,GIRONDE,33010,ARCINS,326.45,4,0.00,0,165.54,3,1352.30,1352.30,0.0,0
1,G,2010,33,GIRONDE,33012,ARSAC,1100.12,5,540.61,5,2150.82,15,10825.67,10825.67,0.0,0
2,G,2010,33,GIRONDE,33022,AVENSAN,0.00,0,9.90,1,1144.67,9,6163.68,6163.68,0.0,0
3,G,2010,33,GIRONDE,33032,BASSENS,0.00,0,26565.24,23,72322.61,44,23888.00,23888.00,0.0,0
4,G,2010,33,GIRONDE,33039,BEGLES,228.37,2,14683.27,39,37998.93,289,10962.37,10962.37,0.0,0

We add the total consumption for each row

In [74]:
df_gconso_com['total']=df_gconso_com.consoa + df_gconso_com.consoi + df_gconso_com.consot + df_gconso_com.consona + df_gconso_com.consor

In [75]:
# Export the df in csv
df_gconso_com.to_csv('df_gconso_com.csv', sep='/', index=False)

### Departement level

We group by year, per departement and aggregate by the sum of consumption

In [76]:
df_gconso_dep=df_gconso.groupby(['energy','year','dep_code','dep_name']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [77]:
# See the df head
df_gconso_dep.head()

,energy,year,dep_code,dep_name,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,G,2010,33,GIRONDE,24797.26,169,309766.22,1058,694655.31,8050,1019263.61,1019263.61,1630.41,8
1,G,2010,38,ISÈRE,0.00,0,0.00,0,0.00,0,0.00,0.00,32301.00,1459
2,G,2010,40,LANDES,1750.00,26,30285.00,26,16890.00,150,33750.00,33750.00,0.00,0
3,G,2010,68,HAUT-RHIN,2863.26,22,275106.45,225,233217.63,1897,396422.03,396422.03,39524.03,749
4,G,2010,80,SOMME,0.00,0,25559.00,26,20031.00,191,31460.00,31460.00,0.00,0

We add the total consumption for each row

In [78]:
df_gconso_dep['total']=df_gconso_dep.consoa + df_gconso_dep.consoi + df_gconso_dep.consot + df_gconso_dep.consona + df_gconso_dep.consor

In [79]:
# Export the df in csv
df_gconso_dep.to_csv('df_gconso_dep.csv', sep='/', index=False)

## Consumption France level

According to the information data file, the consor is not always the good one in order to respect confidentiality but we have the total per region. In order to do some further analysis we will create a dataframe containing the information per region

In [80]:
df_gconso_fr=df_gconso.copy()

In [81]:
df_gconso_fr=df_gconso_fr.groupby(['energy','year']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [82]:
df_gconso_fr.head()

,energy,year,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,G,2010,29410.52,217,640716.67,1335,964793.94,10288,1594031.64,1594031.64,81671.44,2369
1,G,2011,23590.25,220,764845.08,1264,828222.29,10145,1579959.93,1579959.93,70912.56,2397
2,G,2012,26845.37,224,704625.38,1249,962658.38,9823,1509897.49,1509897.49,140770.07,2457
3,G,2013,47801.66,252,1492991.07,1395,3356624.41,11372,3783239.47,3783239.47,102457.33,2579
4,G,2014,37141.86,253,1432358.07,1574,2582918.86,10952,3232244.20,3232244.20,339247.78,2795

As the information are not complete in consor and pdlr columns, we will set the value as 0

In [83]:
df_gconso_fr.consor=0
df_gconso_fr.pdlr=0

In order to obtain the total amount for consor and pdlr columns, we will concatenate the df with the total by region

In [84]:
df_gaz_region[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']]=df_gaz_region[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']].apply(lambda x: x.str.replace(',','.'))

/usr/local/Cellar/jupyterlab/2.2.0/libexec/lib/python3.8/site-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [85]:
df_gaz_region[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']]=df_gaz_region[['CONSOA','INDQUALA','CONSOI','INDQUALI','CONSOT','INDQUALT','CONSOR','INDQUALR','CONSONA','INDQUALNA']].apply(pd.to_numeric)

In [86]:
df_gaz_fr_toconcat=df_gaz_region[['FILIERE','ANNEE','CONSOA','PDLA','CONSOI','PDLI','CONSOT','PDLT','CONSOR','PDLR','CONSONA','PDLNA']]

In [87]:
df_gaz_fr_toconcat.columns=df_gconso_fr.columns

In [88]:
frames1=[df_gaz_fr_toconcat, df_gconso_fr]

In [89]:
df_g_fr=pd.concat(frames1)

In [90]:
df_g_fr.isna().sum()

energy     0
year       0
consoa     0
pdla       0
consoi     0
pdli       0
consot     0
pdlt       0
consor     0
pdlr       0
consona    0
pdlna      0
dtype: int64

In [91]:
df_g_france=df_g_fr.groupby(['energy','year']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [92]:
df_g_france

,energy,year,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,G,2010,29410.52,217,640716.67,1335,964793.94,10288,0.00,0.0,81671.44,2369
1,G,2011,23590.25,220,764845.08,1264,828222.29,10145,0.00,0.0,70912.56,2397
2,G,2012,26845.37,224,704625.38,1249,962658.38,9823,0.00,0.0,140770.07,2457
3,G,2013,47801.66,252,1492991.07,1395,3356624.41,11372,2537.20,136.0,102457.33,2579
4,G,2014,37141.86,253,1432358.07,1574,2582918.86,10952,1766.93,119.0,339247.78,2795
5,G,2015,48096.23,260,2282636.27,2281,3794462.97,13437,69652.63,3987.0,671627.16,3909
6,G,2016,65006.76,245,2905200.32,2710,4064754.07,16055,69511.21,3858.0,321725.24,1544
7,G,2017,16240.14,44,992862.29,596,860800.88,6190,66396.28,3720.0,296891.32,1575

We add a total column

In [93]:
df_g_france['total']=df_g_france['consoa'] + df_g_france['consoi'] + df_g_france['consot'] + df_g_france['consor'] + df_g_france['consona']

In [94]:
df_g_france.to_csv('df_g_tot.csv', sep='/', index=False)

## Consumption region level

In [95]:
df_gconso_region=df_gconso.copy()

In [96]:
df_gconso_reg=df_gconso_region.groupby(['energy','year','reg_code']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [97]:
df_gconso_reg.head()

,energy,year,reg_code,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,G,2010,0,1553.86,10,0.00,0,351.18,3,3776.14,3776.14,0.00,0
1,G,2010,32,0.00,0,25559.00,26,20031.00,191,31460.00,31460.00,0.00,0
2,G,2010,44,2863.26,22,275106.45,225,233217.63,1897,396422.03,396422.03,39524.03,749
3,G,2010,75,24993.40,185,340051.22,1084,711194.13,8197,1049237.47,1049237.47,1630.41,8
4,G,2010,76,0.00,0,0.00,0,0.00,0,113136.00,113136.00,8216.00,153

We will set the value at 0 for consor and pdlr as those values are not completely correct

In [98]:
df_gconso_reg.consor=0
df_gconso_reg.pdlr=0

In [99]:
df_gconso_reg=df_gconso_reg.groupby(['energy','year','reg_code']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [100]:
df_gconso_reg.head()

,energy,year,reg_code,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,G,2010,0,1553.86,10,0.00,0,351.18,3,0,0,0.00,0
1,G,2010,32,0.00,0,25559.00,26,20031.00,191,0,0,0.00,0
2,G,2010,44,2863.26,22,275106.45,225,233217.63,1897,0,0,39524.03,749
3,G,2010,75,24993.40,185,340051.22,1084,711194.13,8197,0,0,1630.41,8
4,G,2010,76,0.00,0,0.00,0,0.00,0,0,0,8216.00,153

In [101]:
df_gconso_reg.reg_code.value_counts()

76.0    8
44.0    8
75.0    8
32.0    8
84.0    8
0.0     8
28.0    3
NC      3
24.0    3
53.0    3
52.0    3
Name: reg_code, dtype: int64

We will replace the 'NC' value by 0

In [102]:
df_gconso_reg['reg_code']=np.where(df_gconso_reg['reg_code']=='NC', 0, df_gconso_reg['reg_code'])

In [103]:
df_gconso_reg['reg_code']=df_gconso_reg['reg_code'].astype(int)

In [104]:
df_gconso_reg.reg_code.value_counts()

0     11
44     8
32     8
84     8
76     8
75     8
53     3
52     3
28     3
24     3
Name: reg_code, dtype: int64

In [105]:
df_gaz_region.head()

,OPERATEUR,ANNEE,FILIERE,TYPE,CODE,CONSOA,PDLA,INDQUALA,CONSOI,PDLI,INDQUALI,CONSOT,PDLT,INDQUALT,CONSOR,PDLR,INDQUALR,CONSONA,PDLNA,INDQUALNA
74180,Réseau GDS,2013,G,Region,44,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,385.00,18.0,1.0,0.0,0,0.0
74181,Régie municipale multiservices de La Réole,2013,G,Region,75,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,2152.20,118.0,1.0,0.0,0,0.0
99063,Réseau GDS,2014,G,Region,44,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,172.00,12.0,1.0,0.0,0,0.0
99064,Régie municipale multiservices de La Réole,2014,G,Region,75,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,1594.93,107.0,1.0,0.0,0,0.0
123957,Réseau GDS,2015,G,Region,44,0.0,0,0.0,0.0,0,0.0,0.0,0,0.0,255.00,13.0,1.0,0.0,0,0.0

In [106]:
df_gaz_region_toconcat=df_gaz_region[['FILIERE','ANNEE','CODE','CONSOA','PDLA','CONSOI','PDLI','CONSOT','PDLT','CONSOR','PDLR','CONSONA','PDLNA']]

In [107]:
df_gaz_region_toconcat.columns=df_gconso_reg.columns

In [108]:
df_gconso_reg['reg_code']=df_gconso_reg['reg_code'].apply(str)
df_gaz_region_toconcat['reg_code']=df_gaz_region_toconcat['reg_code'].apply(str)

<ipython-input-108-105b9481f6c3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gaz_region_toconcat['reg_code']=df_gaz_region_toconcat['reg_code'].apply(str)

In [109]:
frames2=[df_gaz_region_toconcat, df_gconso_reg]

In [110]:
df_g_region=pd.concat(frames2)

In [111]:
df_g_region.isna().sum()

energy      0
year        0
reg_code    0
consoa      0
pdla        0
consoi      0
pdli        0
consot      0
pdlt        0
consor      0
pdlr        0
consona     0
pdlna       0
dtype: int64

In [112]:
df_g_reg=df_g_region.groupby(['energy','year','reg_code']).agg({'consoa':'sum',
                                                                                    'pdla':'sum',
                                                                                    'consoi':'sum',
                                                                                    'pdli':'sum',
                                                                                    'consot':'sum',
                                                                                    'pdlt':'sum',
                                                                                    'consor':'sum',
                                                                                    'pdlr':'sum',
                                                                                    'consona':'sum',
                                                                                    'pdlna':'sum'}).reset_index()

In [113]:
df_g_reg.head()

,energy,year,reg_code,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna
0,G,2010,0,1553.86,10,0.00,0,351.18,3,0.0,0.0,0.00,0
1,G,2010,32,0.00,0,25559.00,26,20031.00,191,0.0,0.0,0.00,0
2,G,2010,44,2863.26,22,275106.45,225,233217.63,1897,0.0,0.0,39524.03,749
3,G,2010,75,24993.40,185,340051.22,1084,711194.13,8197,0.0,0.0,1630.41,8
4,G,2010,76,0.00,0,0.00,0,0.00,0,0.0,0.0,8216.00,153

Now we will add the name of the region

In [114]:
df_reg=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Area/df_reg.csv', sep='/')

In [115]:
df_reg.head()

   reg_code    reg_name
0         1  GUADELOUPE
1         2  MARTINIQUE
2         3      GUYANE
3         4  LA REUNION
4         6     MAYOTTE

In [116]:
df_g_reg['reg_code']=df_g_reg['reg_code'].apply(str)
df_reg['reg_code']=df_reg['reg_code'].apply(str)

In [117]:
df_gazconso_reg = pd.merge(df_g_reg, df_reg, how='left', on=['reg_code'])

In [118]:
df_gazconso_reg.isna().sum()

energy      0
year        0
reg_code    0
consoa      0
pdla        0
consoi      0
pdli        0
consot      0
pdlt        0
consor      0
pdlr        0
consona     0
pdlna       0
reg_name    8
dtype: int64

In [119]:
df_gazconso_reg[df_gazconso_reg.isnull().any(axis=1)]

,energy,year,reg_code,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna,reg_name
0,G,2010,0,1553.86,10,0.0,0,351.18,3,0.0,0.0,0.00,0,NaN
6,G,2011,0,941.21,10,0.0,0,239.91,3,0.0,0.0,0.00,0,NaN
12,G,2012,0,1157.70,10,0.0,0,250.18,3,0.0,0.0,0.00,0,NaN
18,G,2013,0,1196.92,11,0.0,0,237.84,2,0.0,0.0,0.00,0,NaN
24,G,2014,0,954.52,11,0.0,0,276.25,3,0.0,0.0,0.00,0,NaN
30,G,2015,0,1088.93,12,124.0,2,489.76,11,0.0,0.0,4359.32,6,NaN
43,G,2016,0,1100.04,12,73.0,2,594.67,11,0.0,0.0,0.00,0,NaN
56,G,2017,0,0.00,0,129.0,2,460.00,10,0.0,0.0,0.00,0,NaN

In [120]:
df_gazconso_reg.fillna('OTHER', inplace=True)

In [121]:
df_gazconso_reg.isna().sum()

energy      0
year        0
reg_code    0
consoa      0
pdla        0
consoi      0
pdli        0
consot      0
pdlt        0
consor      0
pdlr        0
consona     0
pdlna       0
reg_name    0
dtype: int64

We will add a total column

In [122]:
df_gazconso_reg['total']= df_gazconso_reg['consoa'] + df_gazconso_reg['consoi'] + df_gazconso_reg['consot'] + df_gazconso_reg['consor'] + df_gazconso_reg['consona']

In [123]:
df_gazconso_reg.to_csv('df_gconso_reg.csv', sep='/', index=False)

In [124]:
df_g_france.head()

,energy,year,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna,total
0,G,2010,29410.52,217,640716.67,1335,964793.94,10288,0.00,0.0,81671.44,2369,1716592.57
1,G,2011,23590.25,220,764845.08,1264,828222.29,10145,0.00,0.0,70912.56,2397,1687570.18
2,G,2012,26845.37,224,704625.38,1249,962658.38,9823,0.00,0.0,140770.07,2457,1834899.20
3,G,2013,47801.66,252,1492991.07,1395,3356624.41,11372,2537.20,136.0,102457.33,2579,5002411.67
4,G,2014,37141.86,253,1432358.07,1574,2582918.86,10952,1766.93,119.0,339247.78,2795,4393433.50

In [125]:
df_g_france[df_g_france['year']==2016]

,energy,year,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna,total
6,G,2016,65006.76,245,2905200.32,2710,4064754.07,16055,69511.21,3858.0,321725.24,1544,7426197.6

In [126]:
df_g_france['consor'][df_g_france['year']==2016] / (df_g_france['total'][df_g_france['year']==2016]-df_g_france['consona'][df_g_france['year']==2016])

6    0.009784
dtype: float64

In [137]:
df_g_france['consoa'][df_g_france['year']==2016] / (df_g_france['total'][df_g_france['year']==2016]-df_g_france['consona'][df_g_france['year']==2016])

6    0.00915
dtype: float64

In [138]:
df_g_france['consoi'][df_g_france['year']==2016] / (df_g_france['total'][df_g_france['year']==2016]-df_g_france['consona'][df_g_france['year']==2016])

6    0.408926
dtype: float64

In [139]:
df_g_france['consot'][df_g_france['year']==2016] / (df_g_france['total'][df_g_france['year']==2016]-df_g_france['consona'][df_g_france['year']==2016])

6    0.57214
dtype: float64