# Import librairies

In [1]:
import pandas as pd
import numpy as np

# Get the data

## Gaz

In [2]:
df_gconso_com=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Gaz/df_gconso_com.csv', sep='/')

In [3]:
df_gconso_dep=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Gaz/df_gconso_dep.csv', sep='/')

In [4]:
df_gconso_reg=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Gaz/df_gconso_reg.csv', sep='/')

In [5]:
df_g_tot=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Gaz/df_g_tot.csv', sep='/')

## Electricity

In [6]:
df_econso_com=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Electricty/df_econso_com.csv', sep='/')

In [7]:
df_econso_dep=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Electricty/df_econso_dep.csv', sep='/')

In [8]:
df_econso_reg=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Electricty/df_econso_reg.csv', sep='/')

In [9]:
df_e_tot=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Electricty/df_e_tot.csv', sep='/')

# Concat, merge

## Commmune level

In [10]:
df_gconso_com.shape

(1844, 17)

In [11]:
df_econso_com.shape

(10912, 17)

In [12]:
frames_commune=[df_gconso_com, df_econso_com]
df_conso_com=pd.concat(frames_commune)

In [13]:
df_conso_com.energy.value_counts()

E    10912
G     1844
Name: energy, dtype: int64

In [14]:
df_conso_com.to_csv('df_conso_com.csv', sep='/', index=False)

## Departement level

In [15]:
df_gconso_dep.shape

(93, 15)

In [16]:
df_econso_dep.shape

(272, 15)

In [17]:
frames_dep=[df_gconso_dep, df_econso_dep]
df_conso_dep=pd.concat(frames_dep)

In [18]:
df_conso_dep.energy.value_counts()

E    272
G     93
Name: energy, dtype: int64

In [19]:
df_conso_dep.to_csv('df_conso_dep.csv', sep='/', index=False)

## Region level

In [20]:
df_gconso_reg.shape

(69, 15)

In [21]:
df_econso_reg.shape

(178, 15)

In [22]:
frames_reg=[df_gconso_reg, df_econso_reg]
df_conso_reg=pd.concat(frames_reg)

In [23]:
df_conso_reg.energy.value_counts()

E    178
G     69
Name: energy, dtype: int64

In [24]:
df_conso_reg.to_csv('df_conso_reg.csv', sep='/', index=False)

## France level

In [25]:
df_g_tot.shape

(8, 13)

In [26]:
df_e_tot.shape

(7, 13)

In [27]:
frames_fr=[df_g_tot, df_e_tot]
df_conso_fr=pd.concat(frames_fr)

In [28]:
df_conso_fr.energy.value_counts()

G    8
E    7
Name: energy, dtype: int64

In [29]:
df_conso_fr.to_csv('df_conso_fr.csv', sep='/', index=False)

## By population region

In [32]:
df_conso_reg.head()

,energy,year,reg_code,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna,reg_name,total
0,G,2010,0,1553.86,10,0.00,0,351.18,3,0.0,0.0,0.00,0,OTHER,1905.04
1,G,2010,32,0.00,0,25559.00,26,20031.00,191,0.0,0.0,0.00,0,HAUTS DE FRANCE,45590.00
2,G,2010,44,2863.26,22,275106.45,225,233217.63,1897,0.0,0.0,39524.03,749,GRAND EST,550711.37
3,G,2010,75,24993.40,185,340051.22,1084,711194.13,8197,0.0,0.0,1630.41,8,NOUVELLE AQUITAINE,1077869.16
4,G,2010,76,0.00,0,0.00,0,0.00,0,0.0,0.0,8216.00,153,OCCITANIE,8216.00

In [33]:
df_reg_pop=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Area/df_reg_pop.csv', sep='/')

In [34]:
df_reg_pop.head()

   year                 reg_name  reg_pop
0  2019     AUVERGNE RHONE ALPES  8032377
1  2019  BOURGOGNE FRANCHE COMTE  2783039
2  2019                 BRETAGNE  3340379
3  2019      CENTRE VAL DE LOIRE  2559073
4  2019                    CORSE   344679

In [ ]:
df_conso_reg_pop = pd.merge(df_gaz_merge, df_dep, how='left', on=['dep_code'])

## Total gaz, electricity, petrol

In [35]:
df_conso_fr.head()

,energy,year,consoa,pdla,consoi,pdli,consot,pdlt,consor,pdlr,consona,pdlna,total
0,G,2010,29410.52,217,640716.67,1335,964793.94,10288,0.00,0.0,81671.44,2369,1716592.57
1,G,2011,23590.25,220,764845.08,1264,828222.29,10145,0.00,0.0,70912.56,2397,1687570.18
2,G,2012,26845.37,224,704625.38,1249,962658.38,9823,0.00,0.0,140770.07,2457,1834899.20
3,G,2013,47801.66,252,1492991.07,1395,3356624.41,11372,2537.20,136.0,102457.33,2579,5002411.67
4,G,2014,37141.86,253,1432358.07,1574,2582918.86,10952,1766.93,119.0,339247.78,2795,4393433.50

In [37]:
df_conso_ge=df_conso_fr[['energy','year','total']]

In [40]:
df_pconso=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Petrol/df_pconso.csv', sep='/')

In [41]:
df_pconso.head()

,energy,year,dep_code,dep_name,super_plomb,super_sans_plomb,super_sans_plomb_95,super_sans_plomb_95_E10,super_sans_plomb_98,E85,...,fioul_dom_mhw,fioul_ndom_mhw,gpl_mhw,carbureacteur_mhw,car_mhw,car_p_mhw,engine_mhw,total_mhw,car_essence_mhw,car_gazole_mhw
0,P,2010.0,75,PARIS,0.0,117211.6,25935.07617,56332.20348,34944.04249,0.0,...,232746.048,639819.072,0.0,0.0,5.717452e+06,5.717452e+06,639819.072,1.207472e+07,2.725870e+06,2991582.072
1,P,2010.0,77,SEINE-ET-MARNE,0.0,187748.4,100523.00780,46476.38612,40749.10293,0.0,...,1837282.140,306269.892,0.0,0.0,1.241048e+07,1.241048e+07,306269.892,2.512723e+07,4.366278e+06,8044203.888
2,P,2010.0,78,YVELINES,0.0,214284.0,84730.55979,75179.36611,54374.24572,0.0,...,1153567.368,14000.112,0.0,0.0,1.126837e+07,1.126837e+07,14000.112,2.255074e+07,4.983391e+06,6284980.512
3,P,2010.0,91,ESSONNE,0.0,182665.3,80948.69236,61748.45701,39968.02241,0.0,...,1075287.672,11290.788,0.0,0.0,1.066078e+07,1.066078e+07,11290.788,2.133284e+07,4.248063e+06,6412714.092
4,P,2010.0,92,HAUTS-DE-SEINE,0.0,141837.3,32156.60470,70295.26859,39385.48955,0.0,...,2265146.028,239943.780,0.0,0.0,6.445629e+06,6.445629e+06,239943.780,1.313120e+07,3.298569e+06,3147060.060

In [53]:
df_conso_p=df_pconso.groupby(['energy','year']).agg({'total_mhw':'sum'}).reset_index()

In [54]:
df_conso_p.year=df_conso_p.year.astype(int)

In [55]:
df_conso_p.columns=df_conso_ge.columns

In [56]:
frames_tot=[df_conso_ge, df_conso_p]
df_conso_gep=pd.concat(frames_tot)

In [57]:
df_conso_gep.head()

  energy  year       total
0      G  2010  1716592.57
1      G  2011  1687570.18
2      G  2012  1834899.20
3      G  2013  5002411.67
4      G  2014  4393433.50

In [61]:
df_conso_gep.loc[df_conso_gep['year']==2012]

  energy  year         total
2      G  2012  1.834899e+06
1      E  2012  1.063845e+07
2      P  2012  1.169589e+09

In [58]:
df_conso_gep.energy.value_counts()

P    10
G     8
E     7
Name: energy, dtype: int64

In [59]:
df_conso_gep.year.value_counts()

2015    3
2014    3
2013    3
2012    3
2011    3
2017    3
2016    3
2010    2
2019    1
2018    1
Name: year, dtype: int64

In [60]:
df_conso_gep.to_csv('df_conso_gep.csv', sep='/', index=False)

In [62]:
df_pconso.columns

Index(['energy', 'year', 'dep_code', 'dep_name', 'super_plomb',
       'super_sans_plomb', 'super_sans_plomb_95', 'super_sans_plomb_95_E10',
       'super_sans_plomb_98', 'E85', 'gazole', 'gazole_nr', 'fioul_dom',
       'fioul_ndom', 'gpl', 'carbureacteur', 'car', 'car_p', 'engine', 'total',
       'car_essence', 'car_gazole', 'super_plomb_mwh', 'super_sans_plomb_mhw',
       'super_sans_plomb_95_mhw', 'super_sans_plomb_95_E10_mhw',
       'super_sans_plomb_98_mhw', 'E85_mhw', 'gazole_mhw', 'gazole_nr_mhw',
       'fioul_dom_mhw', 'fioul_ndom_mhw', 'gpl_mhw', 'carbureacteur_mhw',
       'car_mhw', 'car_p_mhw', 'engine_mhw', 'total_mhw', 'car_essence_mhw',
       'car_gazole_mhw'],
      dtype='object')

In [63]:
df_test=df_pconso.groupby(['energy','year']).agg({'total_mhw':'sum',
                                                 'super_plomb_mwh':'sum',
                                                 'super_sans_plomb_mhw':'sum',
                                                 'super_sans_plomb_95_mhw':'sum',
                                                 'super_sans_plomb_95_E10_mhw':'sum',
                                                 'super_sans_plomb_98_mhw':'sum',
                                                 'E85_mhw':'sum',
                                                 'gazole_mhw':'sum',
                                                 'gazole_nr_mhw':'sum',
                                                 'fioul_dom_mhw':'sum',
                                                 'fioul_ndom_mhw':'sum',
                                                 'gpl_mhw':'sum',
                                                 'carbureacteur_mhw':'sum'
                                                 }).reset_index()

In [64]:
df_test.head()

,energy,year,total_mhw,super_plomb_mwh,super_sans_plomb_mhw,super_sans_plomb_95_mhw,super_sans_plomb_95_E10_mhw,super_sans_plomb_98_mhw,E85_mhw,gazole_mhw,gazole_nr_mhw,fioul_dom_mhw,fioul_ndom_mhw,gpl_mhw,carbureacteur_mhw
0,P,2010.0,1.154387e+09,0.0,9.269973e+07,6.154810e+07,1.253046e+07,1.862119e+07,0.0,3.833143e+08,0.000000e+00,1.491662e+08,1.695954e+07,0.0,0.0
1,P,2011.0,1.136357e+09,0.0,8.738621e+07,5.508028e+07,1.571598e+07,1.658995e+07,0.0,3.863350e+08,0.000000e+00,1.335046e+08,1.414247e+07,0.0,0.0
2,P,2012.0,1.169589e+09,0.0,8.288083e+07,4.670272e+07,2.115455e+07,1.502357e+07,0.0,3.900389e+08,4.619047e+07,8.874759e+07,1.179751e+07,0.0,0.0
3,P,2013.0,1.159696e+09,0.0,8.036124e+07,4.097985e+07,2.437765e+07,1.500374e+07,0.0,3.899794e+08,4.978137e+07,9.010013e+07,8.510894e+06,0.0,0.0
4,P,2014.0,1.167387e+09,0.0,8.045844e+07,3.819082e+07,2.622719e+07,1.604044e+07,0.0,3.941101e+08,5.081570e+07,7.449128e+07,6.517820e+06,0.0,0.0